@media (min-width: 768px) {
  .cms-about-us-2 {

    .fullscreen-element{
      padding: 180px 0px;
    }

    .columns {
      .column.main {
        padding-bottom: 0px;
        padding-top: 0px;
      }
    }

    .page-main {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
