@media (min-width: 768px) {
  .catalog-product-view {
    .product-item-name {
      font-family: 'Bebas Neue', display;
      font-size: 36px;
    }

    #mini-cart {
      .details-qty {
        input {
          background-color: #FAFAFA;
          font-size: 18px;
          color: #AAAAAA;
          border-radius: 2px;
          border: 1px solid #EAEAEA;
          padding: 25px;
          font-family: 'Poppins', sans-serif;
          margin-left: 20px;
        }
      }
    }
  }

  #minicart-content-wrapper {
    .primary {
      #top-cart-btn-checkout {
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        color: #ffffff;
        border-color: #006779;
        background-color: #006779;
        border-radius: 50px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-family: inherit;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px
      }
    }

    .minicart-price {
      .price {
        font-size: 18px;
      }
    }

    font-size: 18px;
    font-family: 'Poppins', sans-serif;

    .actions {
      .secondary {
        .viewcart {
          font-size: 18px;
          font-family: 'Poppins', sans-serif;
        }
      }
    }
  }

  .checkout-index-index.page-layout-checkout {
    .page-wrapper {
      .page-header {
        height: 120px;
        min-height: auto;
      }
    }
  }

  .checkout-index-index {
    #block-discount-heading {
      span {
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
      }
    }

    .opc-progress-bar {
      margin-top: 20px;

      .opc-progress-bar-item {
        span {
          font-size: 18px;
          font-family: 'Poppins', sans-serif;
        }
      }
    }

    .step-title {
      font-size: 36px;
      font-family: 'Bebas Neue';
      color: @color-headers;
    }

    #shipping {
      font-size: 18px;
      font-family: 'Poppins', sans-serif;

      .field {
        input {
          background-color: #FAFAFA;
          font-size: 18px;
          color: #AAAAAA;
          border-radius: 2px;
          border: 1px solid #EAEAEA;
          padding: 25px;
          font-family: 'Poppins', sans-serif;
        }

        select {
          background-color: #FAFAFA;
          font-size: 18px;
          color: #AAAAAA;
          border-radius: 2px;
          border: 1px solid #EAEAEA;
          height: 50px;
          font-family: 'Poppins', sans-serif;
        }
      }
    }

    #opc-shipping_method {
      #co-shipping-method-form {
        font-size: 18px;
        font-family: 'Poppins', sans-serif;

        #shipping-method-buttons-container {
          .button {
            border-style: solid;
            border-top-width: 0;
            border-right-width: 0;
            border-left-width: 0;
            border-bottom-width: 0;
            color: #ffffff;
            border-color: #006779;
            background-color: #006779;
            border-radius: 50px;
            padding-top: 10px;
            padding-right: 20px;
            padding-bottom: 10px;
            padding-left: 20px;
            font-family: inherit;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: 'Poppins', sans-serif;
            font-size: 18px
          }
        }
      }
    }

    #opc-sidebar {
      font-size: 18px;
      font-family: 'Poppins', sans-serif;

      .product-item-name {
        font-family: 'Bebas Neue', display;
        font-size: 36px;
      }
    }

    #checkout {
      .authentication-wrapper {
        .action-auth-toggle {
          font-size: 18px;
          font-family: 'Poppins', sans-serif;
          margin-top: 20px;
        }
      }
    }

    #checkout-payment-method-load {
      .opc-progress-bar {
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
      }

      .payment-method {
        font-size: 18px;
        font-family: 'Poppins', sans-serif;

        .actions-toolbar {
          button {
            border-style: solid;
            border-top-width: 0;
            border-right-width: 0;
            border-left-width: 0;
            border-bottom-width: 0;
            color: #ffffff;
            border-color: #006779;
            background-color: #006779;
            border-radius: 50px;
            padding-top: 10px;
            padding-right: 20px;
            padding-bottom: 10px;
            padding-left: 20px;
            font-family: inherit;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
          }
        }
      }
    }

    #opc-sidebar {
      .title {
        font-size: 36px;
        font-family: 'Bebas Neue';
        color: @color-headers;
      }
    }

    #discount-form {
      input {
        background-color: #FAFAFA;
        font-size: 18px;
        color: #AAAAAA;
        border-radius: 2px;
        border: 1px solid #EAEAEA;
        padding: 25px;
        font-family: 'Poppins', sans-serif;
      }

      .action-apply {
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        color: #ffffff;
        border-color: #006779;
        background-color: #006779;
        border-radius: 50px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-family: inherit;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        margin-left: 20px;
        margin-top: 6px;
      }
    }

    #checkout-payment-method-load {
      .billing-address-details {
        .action-edit-address {
          border-style: solid;
          border-top-width: 0;
          border-right-width: 0;
          border-left-width: 0;
          border-bottom-width: 0;
          color: #ffffff;
          border-color: #006779;
          background-color: #006779;
          border-radius: 50px;
          padding-top: 10px;
          padding-right: 20px;
          padding-bottom: 10px;
          padding-left: 20px;
          font-family: inherit;
          font-weight: 600;
          line-height: 1;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-family: 'Poppins', sans-serif;
          font-size: 18px;
          margin-left: 20px;
        }
      }

      .fieldset {
        input {
          background-color: #FAFAFA;
          font-size: 18px;
          color: #AAAAAA;
          border-radius: 2px;
          border: 1px solid #EAEAEA;
          padding: 25px;
          font-family: 'Poppins', sans-serif;
        }

        select {
          background-color: #FAFAFA;
          font-size: 18px;
          color: #AAAAAA;
          border-radius: 2px;
          border: 1px solid #EAEAEA;
          height: 50px;
          font-family: 'Poppins', sans-serif;
        }

      }

      .actions-toolbar {
        .action-update {
          margin-top: 6px;
        }

        button.checkout {
          width: 264px;
        }

        .action-apply {
          margin-top: 6px;
        }
      }
    }
  }

  .checkout-onepage-success {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

    #registration {
      .action {
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        color: #ffffff;
        border-color: #006779;
        background-color: #006779;
        border-radius: 50px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-family: inherit;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }

    .checkout-success {
      .action {
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        color: #ffffff;
        border-color: #006779;
        background-color: #006779;
        border-radius: 50px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-family: inherit;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }

  .checkout-cart-index {
    #maincontent {
      font-size: 18px;
      font-family: 'Poppins', sans-serif;
    }

    .item-info {
      input {
        background-color: #FAFAFA;
        font-size: 18px;
        color: #AAAAAA;
        border-radius: 2px;
        border: 1px solid #EAEAEA;
        padding: 25px;
        font-family: 'Poppins', sans-serif;
      }
    }

    #shopping-cart-table {
      font-family: 'Poppins', sans-serif;
      font-size: 18px;

      .product-item-name {
        font-size: 36px;
        font-family: 'Bebas Neue';
        color: @color-headers;
      }
    }

    .actions.main {
      button {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        color: #ffffff;
        border-color: #006779;
        background-color: #006779;
        border-radius: 50px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-family: inherit;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }

    #block-discount {
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
    }

    .cart-summary {
      font-family: 'Poppins', sans-serif;
      font-size: 18px;

      > .title {
        font-size: 36px;
        font-family: 'Bebas Neue';
        color: @color-headers;
      }

      .checkout-methods-items {
        .checkout {
          border-style: solid;
          border-top-width: 0;
          border-right-width: 0;
          border-left-width: 0;
          border-bottom-width: 0;
          color: #ffffff;
          border-color: #006779;
          background-color: #006779;
          border-radius: 50px;
          padding-top: 10px;
          padding-right: 20px;
          padding-bottom: 10px;
          padding-left: 20px;
          font-family: inherit;
          font-weight: 600;
          line-height: 1;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }

    #block-shipping {
      #shipping-zip-form {
        input {
          background-color: #FAFAFA;
          font-size: 18px;
          color: #AAAAAA;
          border-radius: 2px;
          border: 1px solid #EAEAEA;
          padding: 25px;
          font-family: 'Poppins', sans-serif;
        }

        select {
          background-color: #FAFAFA;
          font-size: 18px;
          color: #AAAAAA;
          border-radius: 2px;
          border: 1px solid #EAEAEA;
          height: 50px;
          font-family: 'Poppins', sans-serif;
        }
      }
    }

    #discount-coupon-form {
      #coupon_code {
        background-color: #FAFAFA;
        font-size: 18px;
        color: #AAAAAA;
        border-radius: 2px;
        border: 1px solid #EAEAEA;
        padding: 25px;
        font-family: 'Poppins', sans-serif;
      }

      button.apply {
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        color: #ffffff;
        border-color: #006779;
        background-color: #006779;
        border-radius: 50px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-family: inherit;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-left: 20px;
      }
    }
  }

  .copyright {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
  }
}