.authentication-wrapper {
  margin-top: 0px;
}

.payment-method {
  border-bottom: solid 1px #ccc;
  margin-bottom: 10px;
  .payment-method-title{
    label{
      span{
        font-weight: 500;
        font-size: 20px;
      }
    }
  }
}

.field-error, div.mage-error[generated] {
  margin-top: 24px;
}

@media only screen and (max-width: 767px) {
  .blue-payment .bluepayment-options-list label {
    margin-left: 0px;
    padding-left: 16px;
  }

  .authentication-wrapper {
    float: none;
    padding: 10px;
    max-width: 50%;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0px auto;
    background: #fff;
  }
}
