.contact-index-index {
  .landing {
    .no-pad {
      p {
        font-size: 15px;
        font-family: 'Poppins',sans-serif;
      }
      p.babas-neue-header {
        font-size: 27px;
        font-family: 'Poppins',sans-serif;
      }
    }
  }
  .col-md-9{
    padding-left:20px;
  }

  .feature-icon-large {
    span {
      padding: 15px;
      align-content: center;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      width: 100%;
      border: 2px solid #006779;
      color:#006779;
      height:auto;
    }
  }

  #contact-form {
    .primary{
      .submit{
        width:100%;
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        color: #ffffff;
        border-color: #006779;
        background-color: #006779;
        border-radius: 50px;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        font-family: inherit;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px
      }
  }
    .fieldset {
      .legend {
        font-size: 36px;
        font-family: 'Bebas Neue';
        color: @color-headers;
      }
      >.field {
        font-size: 18px;
        font-family: 'Poppins',sans-serif;
        .control {
          input {
            background-color: #FAFAFA;
            font-size: 18px;
            color: #AAAAAA;
            border-radius: 2px;
            border: 1px solid #EAEAEA;
            padding: 25px;
            font-family: 'Poppins',sans-serif;
          }
          textarea {
            background-color: #FAFAFA;
            font-size: 18px;
            color: #AAAAAA;
            border-radius: 2px;
            border: 1px solid #EAEAEA;
            padding: 25px;
            font-family: 'Poppins',sans-serif;
          }
        }
      }
    }
  }

}