.copyright {
  background-color: @color-white;
  color: @color-gray20;
  line-height: 73px;
  font-size: 16px;
}

@media (min-width: 768px) {

  .page-footer {
    background: @color-footer;
    border-top: 1px solid @color-footer;
    padding: 65px 0px;
  }

  .kowal_stopka {
    color: @color-white;
    font-size: 19px;
    line-height: 42px;
    width: 100%;

    .footer{
      .item {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
      }
    }

    p{
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
    }

    .columny {
      .title {
        padding-bottom: 24px;

        strong {
          font-size: 30px;
          font-family: 'Bebas Neue', display !important;
        }
      }
    }

    &a {
      color: @color-white;
    }
  }

  .footer.content {
    .links {
      li {
        margin: 0px;

        a {
          color: @color-white;
          font-size: 19px;
          line-height: 39px;
          &:active{
            color: @color-white;
          }
          &:visited{
            color: @color-white;
          }
        }
      }

      a {
        color: @color-white;
        &:active{
          color: @color-white;
        }
        &:visited{
          color: @color-white;
        }
      }
    }
  }

}
