.header.panel {
  color: #fff;

  > .header.links {
    > li {
      > a {
        color: #fff;

        &:visited {
          color: #fff;
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header/bg1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center;
  min-height: 480px;


  .switcher {
    .options {
      ul.dropdown {
        min-width: 225px;
      }
    }
  }

  .panel.wrapper {
    border-bottom: none;
    background-color: transparent;

    .panel {
      background-color: transparent;
      border: none;
      border-radius: 0px;
      -webkit-box-shadow: none;
      box-shadow: none;

    }
  }

}

.cms-index-index {
  .page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header/bg1.jpg');
    background-position: center;
  }
}

.catalog-category-view {
  .page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header/bg1.jpg');
    background-position: center;
  }
}

.cms-page-view {
  .page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header/bg2.jpg');
    background-position: top;
  }
}


.page-footer {
  .switcher {
    .options {
      ul.dropdown {
        min-width: 225px;
      }
    }
  }
}

#search{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

@media (min-width: 768px) {
  .minicart-wrapper {
    z-index: 5;
  }
  .header{
    .links{
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
    }
  }
  .page-title-wrapper {
    .page-title {
      clear: both;
      margin-top: 120px;
      font-weight: 600;
      color: #fff;
      font-size: 60px;
      text-transform: uppercase;
      font-family: 'Bebas Neue',display !important;
    }
  }

  .block-search {
    input {
      margin: 0;
      padding-right: 35px;
      position: static;
      color: #fff;
      background: #006779;
      background-clip: padding-box;
      border: 1px solid #006779;
      border-radius: 26px;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      height: 32px;
      line-height: 1.42857143;
      padding: 0 9px;
      vertical-align: baseline;
      width: 100%;
      box-sizing: border-box;
      color: #fff;
      padding: 25px;
      &::-webkit-input-placeholder { /* Edge */
        color: #fff;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
      }

      &::placeholder {
        color: #fff;
      }
    }
  }

  .block-search {
    .action.search{
      top: 10px;
      &:before {
        color: #ffffff;
      }
    }

  }

  .minicart-wrapper {
    .action.showcart:before {
      font-size: 30px;
      line-height: 30px;
      color: #ffffff;
      margin-top: 10px;
    }
  }
}
