@media (min-width: 768px) {
  .cms-home {
    #maincontent {
      .media-holder {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
      }

      .inline-image-right {
        .info {
          font-family: 'Poppins', sans-serif;
          font-size: 18px;
        }

        .block-products-list {
          .widget-product-grid {
            text-align: center;
          }

          .price {
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
          }

          .product-item-details {
            text-align: center;
          }

          .tocart {
            border-style: solid;
            border-top-width: 0;
            border-right-width: 0;
            border-left-width: 0;
            border-bottom-width: 0;
            color: #ffffff;
            border-color: #006779;
            background-color: #006779;
            border-radius: 50px;
            padding-top: 10px;
            padding-right: 20px;
            padding-bottom: 10px;
            padding-left: 20px;
            font-family: inherit;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
          }
        }
      }

      .main-container {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;

        h6 {
          font-family: 'Poppins', sans-serif;
          font-size: 18px;
        }
      }

      .signup {
        .btn-filled {
          font-family: 'Poppins', sans-serif;
          font-size: 18px;
        }
      }

      .landing {
        .overlay {
          &::before {
            height: auto;
          }
        }
      }

    }
  }

  .page-layout-1column {
    .block.widget {
      .products-grid {
        .product-item {
          .product-item-inner {
            box-shadow: none;
          }
        }
      }
    }
  }
}