.customer-account-login {
  .block-title {
    strong {
      font-size: 36px;
      font-family: 'Bebas Neue';
      color: @color-headers;
    }
  }
  .block-content{
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
  }
  .primary {
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    color: #ffffff;
    border-color: #006779;
    background-color: #006779;
    border-radius: 50px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: inherit;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px
  }
  .secondary{
    padding-left:20px;
  }
  input {
    background-color: #FAFAFA;
    font-size: 18px;
    color: #AAAAAA;
    border-radius: 2px;
    border: 1px solid #EAEAEA;
    padding: 25px;
    font-family: 'Poppins', sans-serif;
  }
}

.customer-account-create{
  #form-validate{
    .legend{
      span {
        font-size: 36px;
        font-family: 'Bebas Neue';
        color: @color-headers;
      }
    }
    .field{
      font-size: 18px;
      font-family: 'Poppins',sans-serif;
    }
    .primary {
      border-style: solid;
      border-top-width: 0;
      border-right-width: 0;
      border-left-width: 0;
      border-bottom-width: 0;
      color: #ffffff;
      border-color: #006779;
      background-color: #006779;
      border-radius: 50px;
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
      font-family: inherit;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: 'Poppins', sans-serif;
      font-size: 18px
    }
    input {
      background-color: #FAFAFA;
      font-size: 18px;
      color: #AAAAAA;
      border-radius: 2px;
      border: 1px solid #EAEAEA;
      padding: 25px;
      font-family: 'Poppins',sans-serif;
    }
  }
}