.nav-sections {
  background: transparent;
  border-bottom: none;
  margin-bottom: 0px;
}



@media (min-width: 768px) {
  .navigation {
    background: transparent;
    font-size: 16px;

    .level0 > .level-top {
      color: #fff;
      line-height: 60px;
      font-weight: 400;
    }
    .level0.active>.level-top{
      border-color: transparent;
      border-style: solid;
      border-width: 0 0 0px;
      color: #bcbcbc;
    }
    .level0.has-active>.level-top{
      border-color: transparent;
      border-style: solid;
      border-width: 0 0 0px;
      color: #bcbcbc;
    }

    ul {
      width: 50%;
      margin: 0px auto;
      text-align: center;
    }
  }
}
