#product-addtocart-button {
  width: 100%;
  border-style: solid;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  color: #ffffff;
  border-color: #006779;
  background-color: #006779;
  border-radius: 50px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
  .page-layout-1column {
    .column.main {
      padding-top: 50px;
    }
  }

  .catalog-product-view {

    .product {
      p {
        color: @color-paragraph;
        font-family: 'Poppins', sans-serif;
        text-align: justify;
        font-size: 18px;
        line-height: 1.5;
      }
      #description {
        padding-top: 20px;
      }
    }
    .related{
      font-family: 'Poppins', sans-serif;
      text-align: justify;
      font-size: 18px;
      button{
        font-family: 'Poppins', sans-serif;
      }
    }
    .qty {
      color: @color-paragraph;
      font-family: 'Poppins', sans-serif;
      text-align: justify;
      font-size: 18px;
      line-height: 1.5;
      display: flex;
      align-items: center;
      .control {
        padding: 20px;
      }
    }

    .fieldset {
      display: flex;
      align-items: center;
    }

    .product-info-price {
      span {
        font-family: 'Bebas Neue', display;
        font-size: 36px;
        color: @color-headers;
      }
    }

    .product.data.items {
      border-top: 1px solid rgba(0, 0, 0, .05);
    }

    .product {
      .title {
        border-top: 3px solid #fff;
      }

      .active {
        border-top: 3px solid #006779;
      }
    }

    .product.data.items {
      #tab-label-additional {
        margin: 0 10px 0 10px;
      }

      > .item.title {
        > .switch {
          padding: 0px;
          background: #fff;
          border: none;
          font-family: 'Poppins', sans-serif;
          font-weight: 700;
          font-size: 18px;
          color: @color-paragraph;
        }
      }
    }

    #description {
      padding: 0px;

      h4 {
        font-family: 'Bebas Neue';
        text-transform: uppercase;
        font-size: 27px;
        line-height: 1.2;
        font-weight: 400;
        margin-bottom: 20px;
      }

      ul {
        > li {
          font-family: 'Poppins', sans-serif;
          color: @color-paragraph;
          font-size: 18px;
        }
      }

      ol {
        > li {
          font-family: 'Poppins', sans-serif;
          color: @color-paragraph;
        }
      }
    }

    .product.data.items {
      > .item.content {
        border: none;
      }
    }
  }

}
