.availability.only {
  display: none !important;
}

.table-responsive {
  table {
    td {
      padding: 10px;
      border: 1px solid @color-gray91;

      &:first-child {
        width: 130px;
      }
    }
  }
}

@media (min-width: 768px) {
  .table-responsive.dynamic {
    width: 49%;
    display: inline-block;

  }

  .field-error, div.mage-error[generated] {
    margin-top: 7px !important;
  }
}
