.landing .bg-primary {
    background-color: #e74c3c !important;
}

.landing .bg-secondary-1 {
    background-color: #2c3e50 !important;
}

.landing .bg-secondary-2 {
    background-color: #3498db !important;
}

.landing .bg-white {
    background-color: #fff !important;
}

.landing .bg-dribbble {
    background-color: #ea4c89;
}

.landing .bg-twitter {
    background-color: #00a0d1;
}

.landing .bg-facebook {
    background-color: #3b5998;
}

.landing .bg-googleplus {
    background-color: #c63d2d;
}

.landing .bg-tumblr {
    background-color: #34526f;
}

.landing .text-dribbble {
    color: #ea4c89;
}

.landing .text-twitter {
    color: #00a0d1;
}

.landing .text-facebook {
    color: #3b5998;
}

.landing .text-googleplus {
    color: #c63d2d;
}

.landing .text-tumblr {
    color: #34526f;
}

.landing .text-white {
    color: #fff;
}

.landing .text-primary {
    color: #e74c3c;
}

.landing .standard-radius {
    border-radius: 25px;
}

.landing .transition-500 {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.landing .transition-2000 {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    transition: all 2s ease;
}

.landing .transition-300 {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing .cover-div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.landing .blank-input {
    background: none;
    border: none;
    box-shadow: none;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.landing .font-body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.landing .font-heading {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.landing {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #777777;
    font-size: 14px;
    line-height: 24px;
}

.landing h1,
.landing h2,
.landing h3,
.landing h4,
.landing h5,
.landing h5,
.landing h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #333333;
    margin: 0px;
}

.landing .alt-font {
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.landing ul {
    list-style: none;
    padding: 0px;
}

.landing a:hover {
    text-decoration: none;
}

.landing .pointer {
    cursor: pointer !important;
}

.landing .uppercase {
    text-transform: uppercase;
}

.landing img {
    max-width: 100%;
    max-height: initial;
}

@media (max-width: 768px) {
    .landing img {
        max-width: inherit;
        max-height: initial;
    }
}

.landing .jumbo-h1 {
    font-size: 40px;
    line-height: 56px;
    font-weight: 600;
    margin-bottom: 64px;
}

.landing .standard-h1 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 48px;
}

.landing h1 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 48px;
}

.landing h2 {
    font-size: 28px;
    line-height: 44px;
}

.landing h3 {
    font-size: 26px;
    line-height: 32px;
}

.landing h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

.landing h6 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.landing strong {
    font-weight: 600;
}

.landing p {
    font-size: 14px;
    line-height: 24px;
}

.landing p.lead {
    font-size: 19px;
    line-height: 30px;
    font-weight: normal;
}

.landing p:last-child {
    margin-bottom: 30px;
}

.landing p a {
    color: #333333;
}

.landing .quote-text {
    font-size: 24px;
    line-height: 40px;
    font-style: italic;
    font-weight: 300;
}

.landing span.text-white a {
    font-weight: 600;
    color: #fff;
}

.landing .main-container {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    overflow: hidden;
    width: 100%;
}

.landing .main-container.reveal-nav {
    -webkit-transform: translate3d(-300px, 0, 0);
    -moz-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
}

.landing .loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    text-align: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 1;
}

.landing .spinner {
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

.landing .double-bounce1,
.landing .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #e74c3c;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}

.landing .double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.landing section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
}

.landing section.pad-large {
    padding-top: 160px;
    padding-bottom: 160px;
}

.landing section.duplicatable-content {
    padding-bottom: 40px;
}

.landing section:nth-of-type(odd) {
    background: #ffff;
}

.landing section:nth-of-type(even) {
    background: #ffffff;
}

.landing .no-pad {
    padding: 0px;
}

.landing .no-pad-top {
    padding-top: 0px !important;
}

.landing .no-pad-left {
    padding-left: 0px;
}

.landing .no-pad-right {
    padding-right: 0px;
}

.landing .no-pad-bottom {
    padding-bottom: 0px;
}

.landing .space-top-small {
    margin-top: 20px !important;
}

.landing .space-bottom-medium {
    margin-bottom: 40px !important;
}

.landing .space-bottom-large {
    margin-bottom: 80px !important;
}

.landing .space-bottom-xlarge {
    margin-bottom: 160px !important;
}

.landing .no-margin {
    margin: 0;
}

.landing .no-margin-bottom {
    margin-bottom: 0px !important;
}

.landing .btn {
    background: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    min-width: 155px;
}

.landing .btn:hover {
    background: none;
    color: #fff;
    border-color: #3498db;
    background-color: #3498db;
}

.landing .btn-primary {
    border-radius: 25px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #006779;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #006779;
}

.landing .btn-primary.btn-filled {
    background: #006779;
    color: #fff;
}

.landing .btn-white {
    border-color: #fff;
    color: #fff;
}

.landing .btn-white:hover {
    background: #fff;
    color: #333333;
    border-color: #fff;
}

.landing .btn-white.btn-filled {
    background: #fff;
    color: #e74c3c;
}

.landing .btn-grey {
    border-color: #777777;
    color: #333333;
}

.landing .btn-grey:hover {
    background-color: #333333;
    color: #fff;
    border-color: #333333;
}

.landing .btn-lg {
    padding: 18px 40px;
}

.landing .btn-sm {
    padding: 10px 28px;
    font-size: 11px;
}

.landing .btn-xs {
    padding: 8px 24px;
    font-size: 10px;
}

.landing .btn-text-only {
    border-color: rgba(0, 0, 0, 0);
}

.landing .btn-text-only:hover {
    background: none;
    color: #006779;
    border-color: rgba(0, 0, 0, 0);
}

.landing .link-text {
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #006779;
    display: inline-block;
    padding-bottom: 0px;
    color: #006779;
}

.landing nav hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    bottom: 2px;
}

.landing .has-dropdown {
    bottom: 3px;
}

.landing .has-dropdown:after {
    font-family: ElegantIcons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\33";
    color: #777777;
}

.landing .mobile-toggle {
    display: none;
}

.landing .top-bar {
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 10;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    line-height: 0;
    top: 0;
}

.landing .top-bar .logo {
    max-width: 80px;
    position: relative;
    bottom: 7px;
}

.landing .logo.logo-wide {
    max-width: 140px;
    bottom: 12px;
    margin-bottom: -6px;
}

.landing .logo.logo-square {
    max-width: 100px;
    max-height: 60px;
    bottom: 20px;
    margin-bottom: -20px;
}

.landing .nav-sticky .logo-wide {
    bottom: 12px !important;
}

.landing .nav-sticky .logo-square {
    bottom: 20px !important;
}

.landing .nav-menu {
    padding-top: 40px;
}

.landing .nav-menu .social-icons {
    float: right;
}

.landing .utility-menu {
    margin-top: 16px;
}

.landing .utility-menu .utility-inner {
    padding-bottom: 16px;
}

.landing .utility-menu .btn {
    min-width: 60px;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 8px;
    margin-right: 0px;
}

.landing .utility-menu span {
    display: inline-block;
    position: relative;
    top: 9px;
}

.landing .utility-menu .btn-text-only {
    min-width: 0px;
    padding: 0px 8px;
}

.landing .overlay-bar {
    background: none;
}

.landing .overlay-bar .has-dropdown:after {
    color: #fff;
}

.landing .menu {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    top: 2px;
}

.landing .menu li {
    float: left;
    margin-right: 56px;
    position: relative;
}

.landing .menu li:last-child {
    margin-right: 0px;
}

.landing .menu li a {
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #777777;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    padding-bottom: 40px;
    display: inline-block;
    line-height: 14px;
}

.landing .menu li a:hover {
    color: #333333;
}

@media all and (max-width: 1050px) {
    .landing .menu li {
        margin-right: 32px;
    }
}

.landing .top-bar .social-icons li a {
    font-size: 16px;
}

.landing .top-bar .logo-light {
    display: none;
}

.landing .top-bar .utility-menu .utility-inner {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.landing .overlay-bar .menu li a {
    color: #fff;
}

.landing .overlay-bar .menu li a:hover {
    color: #fff;
}

.landing .overlay-bar .social-icons li a {
    color: #fff;
}

.landing .overlay-bar .subnav li a {
    color: #777777;
}

.landing .overlay-bar .subnav li a:hover {
    color: #333333;
}

.landing .overlay-bar .logo-dark {
    display: none;
}

.landing .overlay-bar .logo-light {
    display: block;
}

.landing .overlay-bar .utility-menu span {
    color: #fff;
}

.landing .overlay-bar .utility-menu .utility-inner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.landing .overlay-bar .login-button {
    border-color: #fff;
    color: #fff;
}

.landing .subnav {
    display: none;
    position: absolute;
    background: #fff;
    padding: 24px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.landing .subnav li {
    margin-right: 0px !important;
    min-width: 142px;
}

.landing .subnav li a {
    padding-bottom: 0px !important;
    margin-bottom: 16px;
}

.landing .subnav li:last-child a {
    margin-bottom: 0px;
}

.landing .has-dropdown:hover .subnav {
    display: block;
}

.landing .nav-sticky {
    position: fixed !important;
    top: 0;
}

.landing .nav-sticky .logo {
    bottom: 5px;
}

.landing .nav-sticky hr {
    display: none !important;
}

.landing .top-bar.nav-sticky {
    background: rgba(255, 255, 255, 0.9);
}

.landing .top-bar.nav-sticky .nav-menu {
    padding-top: 32px;
}

.landing .top-bar.nav-sticky .menu li a {
    padding-bottom: 32px;
}

.landing .top-bar.nav-sticky .subnav {
    background: rgba(255, 255, 255, 0.9);
}

.landing .top-bar.nav-sticky .utility-menu {
    display: none;
}

.landing .subnav-fullwidth {
    overflow: hidden;
    left: 0px;
    position: absolute;
    text-align: left;
}

.landing .subnav-fullwidth h6 {
    margin-bottom: 24px !important;
}

.landing .subnav-fullwidth .subnav {
    position: relative;
    overflow: hidden;
    background: none !important;
    text-align: left;
    padding: 0px;
}

.landing .subnav-fullwidth .subnav li {
    float: none !important;
}

.landing .subnav-fullwidth .btn {
    padding-bottom: 13px !important;
    color: #3498db !important;
}

.landing .subnav-fullwidth .btn {
    margin-bottom: 16px;
}

.landing .subnav-fullwidth .btn:hover {
    color: #fff !important;
}

.landing .subnav-fullwidth .btn-filled,
.landing .subnav-fullwidth .btn-filled:hover {
    color: #fff !important;
}

.landing .overlay-bar.nav-sticky .logo-light {
    display: none;
}

.landing .overlay-bar.nav-sticky .logo-dark {
    display: block;
}

.landing .overlay-bar.nav-sticky .menu li a {
    color: #777777;
}

.landing .overlay-bar.nav-sticky .social-icons li a {
    color: #333333;
}

.landing .overlay-bar.nav-sticky .has-dropdown:after {
    color: #333333;
}

.landing .offscreen-menu .logo {
    padding-bottom: 32px;
}

.landing .offscreen-toggle i {
    font-size: 36px;
    cursor: pointer;
}

.landing .nav-sticky .offscreen-toggle i {
    color: #333333 !important;
}

.landing .offscreen-container {
    position: fixed;
    width: 300px;
    background: #333333;
    right: 0px;
    height: 100%;
    top: 0px;
    z-index: 99999;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
    padding: 40px;
}

.landing .offscreen-container.reveal-nav {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.landing .offscreen-menu .container {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.landing .offscreen-menu .container.reveal-nav {
    -webkit-transform: translate3d(-300px, 0, 0);
    -moz-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
}

@media all and (max-width: 768px) {
    .landing .offscreen-menu {
        overflow: visible !important;
        position: relative !important;
    }

    .landing .offscreen-menu .offscreen-toggle i {
        color: #333333;
    }
}

.landing .offscreen-container .logo {
    bottom: 0px !important;
}

.landing .offscreen-container .menu {
    display: block;
}

.landing .offscreen-container .menu li {
    float: none;
    margin-bottom: 16px;
}

.landing .offscreen-container .menu li a {
    padding-bottom: 0px !important;
    color: #aaa !important;
}

.landing .offscreen-container .menu li a:hover {
    color: #fff !important;
}

.landing .offscreen-container .social-icons {
    position: absolute;
    bottom: 40px;
}

.landing .offscreen-container .social-icons li a {
    color: #fff !important;
}

.landing .language {
    display: inline-block;
    margin-left: 8px;
}

.landing .language img {
    max-width: 20px;
}

.landing .overlay:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    content: '';
    opacity: 0.9;
    z-index: 2;
    background-color: #e74c3c;
    left: 0;
}

.landing .overlay .container {
    position: relative;
    z-index: 3;
}

.landing header {
    position: relative;
    overflow: hidden;
    padding: 70px 0px;
}

.landing header .container {
    position: relative;
    z-index: 3;
}

.landing header .logo {
    max-width: 200px;
    display: inline-block;
    margin-bottom: 24px;
}

.landing header .btn {
    margin-right: 16px;
}

.landing header .btn:last-child {
    margin-right: 0px;
}

.landing .page-header {
    margin: 0px;
    padding: 0px;
    padding: 160px 0px;
    border-bottom: none;
}

@media (max-width: 768px) {
    .landing .page-header {
        padding: 40px 0px;
    }
}

.landing .page-header h1 {
    font-size: 40px;
    margin-bottom: 24px;
}

.landing .page-header p.lead {
    font-size: 18px;
}

.landing .page-header:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    content: '';
    opacity: 0.3;
    z-index: 2;
    background-color: #333333;
}

.landing .page-header .background-image-holder {
    height: 150%;
    top: -20%;
}

.landing .hero-slider {
    padding: 0px;
    position: relative;
}

.landing .hero-slider .slides li {
    height: 650px;
    overflow: hidden;
    position: relative;
}

.landing .hero-slider .slides li h1 {
    font-size: 38px;
    line-height: 56px;
    margin-bottom: 40px;
}

.landing .hero-slider .slides li .btn {
    margin-right: 16px;
}

.landing .hero-slider .flex-direction-nav a {
    color: rgba(0, 0, 0, 0);
}

.landing .flex-direction-nav a:before {
    top: 17px;
    font-size: 36px;
    left: 10px;
}

.landing .flex-direction-nav a.flex-next:before {
    left: -10px;
}

@media all and (max-width: 1350px) {
    .landing .flex-direction-nav {
        display: none !important;
    }
}

.landing .hero-slider .slides li.overlay:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    content: '';
    opacity: 0.3;
    z-index: 2;
    background-color: #222222;
}

.landing .header-icons {
    padding: 160px 0px;
    position: relative;
    overflow: hidden;
}

.landing .header-icons h1 {
    margin-bottom: 80px;
}

.landing .header-icons i {
    font-size: 56px;
    display: inline-block;
    margin-bottom: 16px;
}

.landing .header-icons .down-arrow {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    padding-top: 10px;
    margin-top: 160px;
}

.landing .header-icons .down-arrow i {
    font-size: 40px;
    position: relative;
    right: 1px;
}

.landing header.title {
    height: 565px;
    position: relative;
    overflow: hidden;
}

.landing header.title h1 {
    margin-bottom: 16px;
    font-size: 40px;
}

.landing header.title .sub {
    font-size: 12px;
    letter-spacing: 0px;
}

.landing header.title .container {
    position: relative;
    z-index: 3;
}

.landing header.title:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    content: '';
    opacity: 0.3;
    z-index: 2;
    background-color: #333333;
}

.landing .action-banner {
    padding: 104px 0px;
    overflow: hidden;
    position: relative;
}

.landing .action-banner .container {
    position: relative;
    z-index: 3;
}

.landing .action-banner h1 {
    font-size: 40px;
    line-height: 56px;
    font-weight: 600;
    margin-bottom: 64px;
    margin-bottom: 24px;
}

.landing .action-banner h2 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 48px;
    margin-bottom: 40px;
}

.landing .action-banner .btn {
    margin-right: 16px;
}

.landing header.signup {
    padding: 180px 0px;
    position: relative;
    overflow: hidden;
    height: auto;
}

.landing header.signup h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 30px;
}

.landing header.signup .photo-form-wrapper {
    margin-bottom: 0px;
}

.landing header.signup .photo-form-wrapper .btn {
    padding-top: 19px;
    padding-bottom: 19px;
    border-radius: 50px;
    max-width: 250px;
    height: 52px;
}

.landing header.signup:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    content: '';
    opacity: 0.3;
    z-index: 2;
    background-color: #333333;
}

.landing .product-right {
    height: 650px;
    position: relative;
    overflow: hidden;
    padding: 0px;
}

.landing .product-right .container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.landing .product-right h1 {
    margin-bottom: 32px;
}

.landing .product-right p.lead {
    margin-bottom: 32px;
}

.landing .product-right .btn {
    margin-right: 16px;
}
.landing .text-center img.product-image {
    max-width: 100%;
}

.landing .inline-image-right .product-image {
    border-radius: 50px 0px 50px 0px;
}

.landing .product-right .product-image {
    position: absolute;
    right: -40px;
    bottom: 0px;
    max-width: 750px;
}

.landing .hero-divider {
    padding: 160px 0px;
    position: relative;
    overflow: hidden;
}

.landing .hero-divider:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    content: '';
    opacity: 0.4;
    z-index: 2;
    background-color: #333333;
}

.landing .hero-divider .btn {
    margin-right: 16px;
    margin-top: 24px;
}

.landing .hero-divider .btn:last-child {
    margin-right: 0px;
}

.landing .hero-divider .container {
    position: relative;
    z-index: 3;
}

.landing .hero-divider h1 {
    margin-bottom: 32px;
}

.landing .video-wrapper {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.landing .video-wrapper video {
    width: 100%;
    position: absolute;
    top: 0px;
}

@media all and (max-width: 1400px) {
    .landing .video-wrapper video {
        width: 110%;
    }
}

@media all and (max-width: 1200px) {
    .landing .video-wrapper video {
        width: 130%;
    }
}

@media all and (max-width: 1000px) {
    .landing .video-wrapper video {
        width: 150%;
    }
}

.landing .divider-video .overlay {
    z-index: 1;
    opacity: 0.4;
}

.landing .divider-video .divider-content {
    position: relative;
    z-index: 2;
    padding-top: 121px;
    padding-bottom: 121px;
}

.landing header.centered-text h1 {
    margin-bottom: 24px;
    line-height: 56px;
}

.landing header.centered-text .btn {
    margin-right: 16px;
    margin-top: 24px;
}

.landing header.centered-text .btn:last-child {
    margin-right: 0px;
}

.landing header.fullscreen-element .overlay:before,
.landing .image-divider.overlay:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    content: '';
    z-index: 2;
    background-color: #000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.landing .bottom-band {
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 53.33333333px;
}

.landing .bottom-band .col-sm-4 {
    margin-bottom: 53.33333333px;
}

.landing .bottom-band .link-text {
    border-color: #fff;
}

.landing .bottom-band .link-text:hover {
    color: #fff;
}

.landing .bottom-band h3 {
    margin-bottom: 8px;
}

.landing .image-divider i,.landing .image-divider span {
    font-size: 56px;
    margin-bottom: 24px;
}

.landing .image-divider .feature-icon-large i,.landing .image-divider .feature-icon-large span {
    border-color: #fff;
    color: #fff;
}

.landing .feature {
    overflow: hidden;
}

.landing .feature h4 {
    font-weight: 600;
}

.landing .feature i,.landing .feature span {
    color: #e74c3c;
}

.landing .feature-icon-large i,.landing .feature-icon-large span {
    display: block;
    height: 104px;
    width: 104px;
    border: 2px solid #e74c3c;
    border-radius: 50%;
    text-align: center;
    color: #e74c3c;
    font-size: 40px;
    padding-top: 31px;
    margin-bottom: 32px;
}

.landing .duplicatable-content .feature {
    margin-bottom: 40px;
}

.landing .feature-selector ul {
    list-style: none;
    padding: 0;
}

.landing .feature-icon-large .pull-left {
    width: 25%;
}

.landing .feature-icon-large .pull-right {
    width: 75%;
}

.landing .feature-icon-large .pull-left .icon {
    border: none;
    width: auto;
    font-size: 48px;
    padding-top: 0px;
}

.landing .selector-tabs {
    margin-bottom: 56px;
}

.landing .selector-tabs li {
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0.4;
    cursor: pointer;
    float: left;
}

.landing .selector-tabs li:hover {
    opacity: 1;
}

.landing .selector-tabs li.active {
    opacity: 1;
}

.landing .selector-tabs li span {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    bottom: 12px;
}

.landing .selector-tabs li i,.landing .selector-tabs li span {
    font-size: 40px;
    display: inline-block;
    margin-right: 8px;
}

.landing .selector-content li {
    display: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
}

.landing .selector-content li.active {
    display: block;
    opacity: 1;
}

.landing .selector-content h1 {
    margin-bottom: 56px;
}

.landing .feature-icon-small {
    margin-bottom: 32px;
}

.landing .feature-icon-small i,.landing .feature-icon-small span {
    color: #e74c3c;
    font-size: 36px;
    display: inline-block;
    margin-bottom: 32px;
}

.landing .feature-icon-small h6 {
    font-weight: bold;
}

.landing .primary-features {
    background: #e74c3c !important;
}

.landing .primary-features .feature-icon-small i, .landing .primary-features .feature-icon-small span {
    color: #fff;
}

.landing .feature-divider {
    position: relative;
    overflow: hidden;
}

.landing .feature-divider h1 {
    margin-bottom: 40px;
}

.landing img.phone-portrait {
    max-height: 580px;
}

.landing .store-link {
    display: inline-block;
    overflow: hidden;
    margin-right: 16px;
    margin-top: 24px;
}

.landing .store-link img {
    height: 50px;
}

.landing .feature-icon-left {
    overflow: hidden;
    margin-bottom: 40px;
    float: left;
}

.landing .feature-icon-left .icon-holder {
    width: 45px;
    float: left;
}

.landing .feature-icon-left i {
    font-size: 32px;
}

.landing .feature-icon-left .feature-text {
    width: 217px;
    float: left;
    padding-top: 8px;
}

.landing .feature-box {
    padding: 64px 40px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 397px;
}

.landing .feature-box .background-image-holder {
    z-index: 0;
    left: 0;
}

.landing .feature-box .background-image-holder.overlay:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    content: '';
    opacity: 0.3;
    z-index: 2;
    background-color: #333333;
    z-index: -1;
}

.landing .feature-box h1 {
    margin-bottom: 24px;
}

.landing .feature-box .btn {
    margin-top: 24px;
}

.landing .feature-box .inner {
    width: 66.66666%;
    position: relative;
    z-index: 3;
}

.landing .contained-feature-boxes .row {
    padding: 0px 15px;
}

.landing .contained-feature-boxes .image-slider {
    margin: 0px;
}

.landing .contained-feature-boxes .image-slider .flex-direction-nav {
    display: none;
}

.landing .contained-feature-boxes .image-slider .flex-control-nav {
    bottom: 24px;
}

.landing .contained-feature-boxes .image-slider .flex-control-nav li a {
    background: rgba(255, 255, 255, 0.5);
}

.landing .contained-feature-boxes .image-slider .flex-control-nav li a.flex-active {
    background: rgba(255, 255, 255, 0.9);
}

.landing .feature-box.contained {
    padding: 40px;
    overflow: hidden;
}

.landing .feature-box.contained .inner {
    width: 100%;
}

.landing .clients p {
    margin-bottom: 48px !important;
}

.landing .client-row {
    overflow: hidden;
    text-align: center;
    line-height: 0;
}

.landing .client-row .col-sm-3 {
    display: inline-block;
    min-height: 80px;
    line-height: 80px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.landing .client-row img {
    max-height: 60px;
    max-width: 140px;
    opacity: 0.3;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-backface-visibility: none;
}

.landing .client-row img:hover {
    opacity: 1;
}

.landing .client-row .row-wrapper {
    display: inline-block;
    width: 80%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.landing .client-row:last-child .row-wrapper {
    border-bottom: none;
}

.landing .row-wrapper .col-sm-3 {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.landing .row-wrapper .col-sm-3:last-child {
    border-right: none;
}

.landing .clients-2 {
    text-align: center;
    padding: 64px 0px 64px 0px;
}

.landing .clients-2 .col-md-2 {
    height: 80px;
    line-height: 80px;
}

.landing .clients-2 img {
    max-height: 60px;
    max-width: 140px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0.4;
}

.landing .clients-2 img:hover {
    opacity: 1;
}

.landing .wood-divider .product-image {
    top: 22%;
    transform: rotate(-15deg);
    right: -100px;
}


.landing .accordion-active {
    background-color: #e74c3c;
    color: #fff;
}

.landing .background-image-holder,
.landing .foreground-image-holder {
    position: absolute;
    top: 20%;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    z-index: 0;
    background-position: 50% 50% !important;
}

.landing .wood-divider{
    background-color: #0f84d9 !important;
}

.landing .background-image-holder.parallax-background {
    height: 120%;
    top: 0%;
}

@media (min-width: 768px) and (max-width: 1300px) {
    .landing .background-image-holder.parallax-background {
        height: 120%;
        top: -10%;
    }
}

.landing .hover-background .background-image-holder,
.landing .hover-background .foreground-image-holder {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}

.landing .hover-background .background-image-holder {
    height: 110%;
    width: 110%;
}

.landing .side-image {
    padding: 0px;
    position: relative;
}

.landing .side-image .image-container {
    overflow: hidden;
    position: absolute;
    height: 100%;
    padding: 0px;
    top: 0px;
}

.landing .side-image .image-container.pull-right {
    right: 0px;
}

.landing .side-image .content {
    padding-top: 80px;
    padding-bottom: 80px;
}

.landing .side-image h1 {
    margin-bottom: 40px;
}

.landing .side-image p.lead {
    margin-bottom: 64px;
}

.landing .side-image.text-heavy h1 {
    margin-bottom: 32px;
}

.landing .side-image.text-heavy p.lead {
    margin-bottom: 40px;
}

.landing .side-image.text-heavy .feature {
    margin-top: 64px;
}

.landing .side-image.text-heavy .feature h5 {
    margin-bottom: 40px;
}

.landing .icons-large {
    list-style: none;
    overflow: hidden;
    display: inline-block;
    padding: 0px;
    margin-bottom: 32px;
}

.landing .icons-large li {
    float: left;
    margin-right: 48px;
    font-size: 48px;
    color: #e74c3c;
}

.landing .icons-large li:last-child {
    margin-right: 0px;
}

.landing .text-banner h1 {
    margin-bottom: 24px;
}

.landing .text-banner p:last-child {
    margin-bottom: 32px;
}

.landing .accordion-section .icons-large {
    margin-bottom: 0px;
}

.landing .accordion-section .feature {
    margin-bottom: 40px;
}

.landing .accordion-section .feature:last-child {
    margin-bottom: 0px;
}

.landing .accordion {
    border-radius: 25px;
    list-style: none;
    overflow: hidden;
    border: 2px solid #dadada;
    padding: 0px;
}

.landing .accordion .title span {
    padding: 0px 24px;
    display: block;
}

.landing .accordion .title {
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    padding: 24px 0px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    border-bottom: 2px solid #dadada;
}

.landing .accordion .title:hover {
    background-color: #e74c3c;
    color: #fff;
}

.landing .accordion li:last-child .title,
.landing .accordion li:last-child .text {
    border-bottom: none !important;
}

.landing .accordion .text {
    padding: 0px 24px;
    max-height: 0px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    overflow: hidden;
    opacity: 0;
}

.landing .accordion li.active .title {
    background-color: #e74c3c;
    color: #fff;
    border-bottom: 2px solid #dadada;
}

.landing .accordion li.active .text {
    padding: 24px;
    max-height: 500px;
    border-bottom: 2px solid #dadada;
    opacity: 1;
}

.landing .text-image-bottom {
    padding-bottom: 0px;
}

.landing .text-image-bottom img {
    display: inline-block;
    margin-top: 64px;
}

.landing .inline-video-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.landing .inline-video-wrapper video {
    width: 100%;
}

.landing .testimonials-slider {
    position: relative;
    margin-bottom: 24px;
}

.landing .testimonials-slider p.lead {
    font-size: 18px;
}

.landing .testimonials-slider .author {
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.landing .testimonials-slider .flex-control-nav {
    bottom: -48px;
}

.landing .pure-text p:last-child {
    margin-bottom: 40px;
}

.landing .pure-text-centered h1 {
    margin-bottom: 24px;
}

.landing .inline-image-right img {
    max-width: 90%;
}

.landing .inline-image-right h1 {
    margin-bottom: 16px;
}

.landing .inline-image-right h6 {
    margin-bottom: 32px;
}

.landing .strip {
    padding: 64px 0px;
}

.landing .strip::-moz-placeholder {
    color: #999999;
    opacity: 1;
}

.landing .strip:-ms-input-placeholder {
    color: #999999;
}

.landing .strip::-webkit-input-placeholder {
    color: #999999;
}

.landing .strip input::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    position: relative;
    top: 5px;
}

.landing .strip input:-moz-placeholder {
    color: #ffffff;
}

.landing .strip textarea::-webkit-input-placeholder {
    color: #ffffff;
}

.landing .strip textarea:-moz-placeholder {
    color: #ffffff;
}

.landing .strip strong {
    font-weight: 600;
}

.landing .strip h3 {
    margin: 0px;
    position: relative;
    top: 5px;
    display: inline-block;
    font-weight: normal;
}

.landing .social-icons {
    list-style: none;
    overflow: hidden;
    display: inline-block;
}

.landing .social-icons li {
    float: left;
    margin-right: 24px;
    font-size: 24px;
}

.landing .social-icons li:last-child {
    margin-right: 0px;
}

.landing .social-icons li a {
    color: #333333;
}

.landing .strip .social-icons {
    position: relative;
    top: 10px;
}

.landing .strip .signup-email-field {
    background: none;
    border: none;
    box-shadow: none;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
    color: #fff;
    min-width: 400px;
    font-weight: 300;
    font-size: 24px;
    position: relative;
    top: 4px;
}

.landing .strip .signup-email-field:focus {
    outline: none;
}

.landing .pricing-tables .col-md-3:first-child .pricing-table {
    border-radius: 25px 0px 0px 25px;
}

.landing .pricing-tables .col-md-3:last-child .pricing-table {
    border-radius: 0px 25px 25px 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.landing .pricing-table {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    padding-bottom: 40px;
}

.landing .pricing-table .price {
    padding: 40px 0px;
    font-weight: 600;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.landing .pricing-table .price .sub {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    bottom: 10px;
}

.landing .pricing-table .price .amount {
    color: #fff;
    font-size: 56px;
    display: inline-block;
    padding: 0px 8px;
}

.landing .pricing-table .features {
    margin: 40px 0px;
}

.landing .pricing-table .features li {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
}

.landing .pricing-table .features li:last-child {
    margin-bottom: 0px;
}

.landing .pricing-table .features li strong {
    font-weight: 600;
}

.landing .pricing-table.emphasis {
    background-color: #e74c3c;
}

.landing .landing .pricing-2 .pricing-tables .col-md-3:first-child .pricing-table {
    border-radius: 25px 0px 0px 25px;
}

.landing .landing .pricing-2 .pricing-tables .col-md-3:last-child .pricing-table {
    border-radius: 0px 25px 25px 0px;
    border-right: 2px solid rgba(35, 35, 35, 0.2);
}

.landing .landing .pricing-2 .pricing-table {
    border-top: 2px solid rgba(35, 35, 35, 0.2);
    border-bottom: 2px solid rgba(35, 35, 35, 0.2);
    border-left: 2px solid rgba(35, 35, 35, 0.2);
    text-align: center;
    padding-bottom: 40px;
}

.landing .landing .pricing-2 .pricing-table .features {
    margin: 0px;
}

.landing .pricing-2 .pricing-table .features li:first-child {
    border-top: none;
}

.landing .pricing-2 .pricing-table .features li {
    color: #333333;
    border-top: 2px solid rgba(35, 35, 35, 0.2);
    padding: 24px 0px;
    margin: 0;
}

.landing .pricing-2 .pricing-table .price {
    border-top: 2px solid rgba(35, 35, 35, 0.2);
    padding-bottom: 24px;
    border-bottom: none;
}

.landing .pricing-2 .pricing-table .price .amount {
    color: #333333;
}

.landing .pricing-2 .pricing-table .price .sub {
    color: #777777;
    opacity: 0.7;
}

.landing .pricing-2 .pricing-table.emphasis {
    background-color: #2c3e50;
}

.landing .pricing-2 .pricing-table.emphasis .features li {
    color: #fff;
    background-color: #2c3e50 !important;
}

.landing .pricing-2 .pricing-table.emphasis .price .amount,
.landing .pricing-2 .pricing-table.emphasis .sub {
    color: #fff;
}

.landing .pricing-2 .feature-list {
    padding-bottom: 0px;
}

.landing .pricing-2 .pricing-table .features li:nth-child(even) {
    background: #f4f4f4;
}

.landing .team-1 h1 {
    margin-bottom: 40px;
}

.landing .team-1 h2 {
    margin-bottom: 8px;
}

.landing .team-1 .feature .sub {
    color: #333333;
    margin-bottom: 16px;
    display: inline-block;
}

.landing .team-1-member {
    text-align: center;
    margin-top: 48px;
}

.landing .team-1-member img {
    display: inline-block;
    margin-bottom: 16px;
}

.landing .team-1-member h5 {
    margin-bottom: 8px;
}

.landing .team-1-member .social-icons {
    margin-top: 8px;
}

.landing .team-1-member .social-icons li a {
    font-size: 18px;
}

.landing .team-2-member {
    margin-bottom: 56px;
}

.landing .team-2-member .name {
    font-size: 24px;
    font-weight: 300;
    color: #333333;
    display: inline-block;
    margin: 24px 0px;
}

.landing .team-2-member .image-holder {
    position: relative;
    overflow: hidden;
}

.landing .team-2-member .image-holder img {
    position: relative;
    z-index: 1;
}

.landing .team-2-member .hover-state {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    background-color: #2c3e50;
    z-index: 2;
    text-align: center;
}

.landing .team-2-member .social-icons {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    -webkit-transform: translate3d(0, -200px, 0);
    -moz-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
}

.landing .team-2-member .social-icons li a {
    color: #fff;
    font-size: 32px;
}

.landing .team-2-member .image-holder:hover .hover-state {
    opacity: 0.9;
}

.landing .team-2-member .image-holder:hover .social-icons {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}

.landing .blog-snippet-1 {
    margin-bottom: 40px;
}

.landing .blog-snippet-1 img {
    display: inline-block;
    margin-bottom: 16px;
}

.landing .blog-snippet-1 h2 {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 36px;
}

.landing .blog-snippet-1 .sub {
    display: inline-block;
    margin-bottom: 16px;
}

.landing .blog-snippet-1 a {
    margin-top: 8px;
}

.landing .blog-snippet-2 {
    overflow: hidden;
    padding: 0px;
}

.landing .blog-snippet-2 li {
    overflow: hidden;
    margin-bottom: 40px;
}

.landing .blog-snippet-2 li:last-child {
    margin-bottom: 0px;
}

.landing .blog-snippet-2 li .icon {
    width: 10%;
    float: left;
}

.landing .blog-snippet-2 li .icon i {
    color: #e74c3c;
    font-size: 32px;
    position: relative;
    top: 5px;
}

.landing .blog-snippet-2 .title {
    width: 90%;
    float: left;
}

.landing .blog-snippet-2 a {
    color: #333333;
    display: block;
    font-weight: 600;
}

.landing .blog-snippet-2 .sub {
    letter-spacing: 0px;
    opacity: 0.8;
    font-size: 12px;
}

.landing .blog-list-3 {
    padding: 0px;
}

.landing .blog-snippet-3:nth-child(even) {
    background-color: #f4f4f4;
}

.landing .blog-snippet-3 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.landing .blog-snippet-3 h1 {
    margin-bottom: 16px;
}

.landing .blog-snippet-3 h1 a {
    color: #333333;
}

.blog-snippet-3 h1 a em {
    color: #e74c3c;
    font-weight: 600;
    font-style: normal;
}

.landing .blog-snippet-3 .alt-font {
    letter-spacing: 0px;
    font-size: 12px;
    display: inline-block;
    margin-left: 8px;
    position: relative;
    bottom: 2px;
}

.landing blockquote {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    font-style: italic;
    line-height: 32px;
    padding: 0px;
    border: none;
    margin-bottom: 24px;
}

.landing .article-single {
    background: #f4f4f4 !important;
}

.landing .article-body p.lead {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 24px;
    color: #333333;
}

.landing .article-body p:last-child {
    margin-bottom: 0px;
}

.landing .article-body p {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 24px;
}

.landing .article-body figure {
    margin: 16px 0px;
}

.landing .article-body figcaption {
    font-style: italic;
    font-size: 14px;
    color: #aaa;
    margin-top: 16px;
}

.landing .article-body h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 24px;
}

.landing .article-body {
    padding-bottom: 64px;
    border-bottom: 1px solid #ddd;
}

.landing .author-details {
    text-align: center;
    padding: 40px 0px;
    border-bottom: 1px solid #ddd;
}

.landing .author-details img {
    display: inline-block;
    margin-bottom: 16px;
}

.landing .author-details h5 {
    font-weight: normal;
}

.landing .author-details .social-icons {
    margin-bottom: -8px;
    margin-top: 8px;
}

.landing .landing .projects-gallery p.lead {
    margin-bottom: 64px !important;
}

.landing .landing .projects-wrapper {
    text-align: center;
}

.landing .filters {
    padding: 0px;
    list-style: none;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 32px;
}

.landing .filters li {
    float: left;
    margin-right: 16px;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3498db;
    cursor: pointer;
}

.landing .filters li:last-child {
    margin-right: 0px;
}

.landing .filters li.active {
    border-bottom: 2px solid #3498db;
}

.landing .project {
    height: 345px;
}

.landing .project.col-md-4 {
    width: 33%;
}

.landing .project.col-md-4:nth-child(even) {
    width: 34%;
}

.landing .project.col-md-4 .background-image-holder {
    width: 103%;
}

.landing .column-projects .project.col-md-4 {
    width: 33.33333%;
    overflow: hidden;
}

.landing .column-projects .project.col-md-4 .background-image-holder {
    width: 100% !important;
}

.landing .column-projects .project {
    overflow: hidden;
}

@media screen and (max-width: 990px) {
    .landing .project.col-md-4 {
        width: 50%;
    }

    .landing .project.col-md-4:nth-child(even) {
        width: 50%;
    }

    .landing .project.col-md-4 .background-image-holder {
        width: 100%;
    }

    .landing .column-projects .project.col-md-4 {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .landing .project.col-md-4 {
        width: 100%;
    }

    .landing .project.col-md-4:nth-child(even) {
        width: 100%;
    }

    .landing .column-projects .project.col-md-4 {
        width: 100%;
    }
}

.landing .project .image-holder {
    overflow: hidden;
    position: relative;
}

.landing .project img {
    width: 100%;
}

.landing .project .hover-state {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(44, 62, 80, 0.9);
    text-align: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0;
    padding-right: 15px;
}

.landing .project:hover .hover-state {
    opacity: 1;
}

.landing .project .hover-state h1 {
    margin-bottom: 8px;
    font-size: 24px;
}

.landing .project .hover-state h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.landing .project .hover-state p {
    margin-bottom: 24px;
}

.landing .project .hover-state .btn-white:hover {
    color: #2c3e50;
}

.landing .hover-state .align-vertical {
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 0;
}

.landing .project:hover .align-vertical {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    opacity: 1;
}

.landing .column-projects {
    margin-bottom: 80px;
}

.landing .column-projects .project {
    height: 300px;
    margin-bottom: 15px;
}

.landing .column-projects .project .hover-state h3 {
    margin-bottom: 24px;
}

.landing .column-projects .project .background-image-holder {
    left: 15px;
}

.landing .image-gallery {
    margin-top: 64px;
}

.landing .image-gallery .image-holder {
    margin-bottom: 30px;
    height: 375px;
    overflow: hidden;
    position: relative;
}

.landing .image-slider .flex-direction-nav {
    display: none;
}

@media (min-width: 768px) {
    .landing .image-gallery .image-holder {
        height: 245px;
    }
}

@media (min-width: 992px) {
    .landing .image-gallery .image-holder {
        height: 375px;
    }
}

.landing .image-slider {
    position: relative;
    margin-bottom: 32px;
}

.landing .image-slider .flex-direction-nav a.flex-prev:before {
    left: 0px;
}

.landing .image-slider .flex-control-nav {
    bottom: -48px;
}

.landing .image-slider .flex-control-nav li a {
    background: rgba(0, 0, 0, 0.3);
}

.landing .image-slider .flex-control-nav li a.flex-active {
    background: rgba(0, 0, 0, 0.8);
}

.landing .instagram-feed {
    padding-top: 40px;
    padding-bottom: 0px;
}

.landing .instagram-feed span {
    color: #333333;
}

.landing .instafeed {
    margin-top: 40px;
}

.landing .instafeed ul {
    overflow: hidden;
    margin: 0px;
}

.landing .instafeed ul li {
    float: left;
    width: 16.666667%;
}

.landing .instafeed ul li:nth-child(n+7) {
    display: none;
}

.landing #tweets .user {
    display: none;
}

.landing #tweets .interact {
    display: none;
}

.landing #tweets .tweet {
    font-size: 24px;
    line-height: 40px;
    font-style: italic;
    font-weight: 300;
}

.landing .form-contact .inputs-wrapper {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin-bottom: 24px;
}

.landing .form-contact input:focus,
.landing .form-contact textarea:focus {
    outline: none;
}

.landing .form-contact input,
.landing .form-contact textarea {
    background: none;
    border: none;
    box-shadow: none;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    padding: 16px;
}

.landing .form-contact input::-moz-placeholder,
.landing .form-contact textarea::-moz-placeholder {
    color: #777777;
    opacity: 1;
}

.landing .form-contact input:-ms-input-placeholder,
.landing .form-contact textarea:-ms-input-placeholder {
    color: #777777;
}

.landing .form-contact input::-webkit-input-placeholder,
.landing .form-contact textarea::-webkit-input-placeholder {
    color: #777777;
}

.landing .form-contact input input::-webkit-input-placeholder,
.landing .form-contact textarea input::-webkit-input-placeholder {
    color: #777777;
    font-size: 24px;
    font-weight: 300;
    position: relative;
    top: 5px;
}

.landing .form-contact input input:-moz-placeholder,
.landing .form-contact textarea input:-moz-placeholder {
    color: #777777;
}

.landing .form-contact input textarea::-webkit-input-placeholder,
.landing .form-contact textarea textarea::-webkit-input-placeholder {
    color: #777777;
}

.landing .form-contact input textarea:-moz-placeholder,
.landing .form-contact textarea textarea:-moz-placeholder {
    color: #777777;
}

.landing .form-contact input {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.landing .form-success,
.landing .form-error {
    width: 100%;
    padding: 12px;
    display: none;
    margin-top: 12px;
    color: #fff;
}

.landing .form-success {
    background-color: #58b551;
}

.landing .form-error {
    background-color: #d94947;
}

.landing .field-error {
    box-shadow: inset 0px 0px 10px -2px #ff0000 !important;
}

.landing .form-loading {
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    margin: 0px auto;
    top: 50%;
    width: 30px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.landing input[type="submit"] {
    -webkit-appearance: none;
    background: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    min-width: 155px;
    border-radius: 25px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #3498db;
    color: #3498db;
    max-width: 155px;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.landing .strip .mail-list-signup input[type="submit"] {
    background: none;
    border: 2px solid #fff;
}

.landing .contact-center p.lead {
    font-size: 18px;
}

.landing .contact-center .form-wrapper {
    text-align: center;
    margin-top: 48px;
}

.landing .contact-photo {
    position: relative;
    overflow: hidden;
}

.landing .contact-photo h1 {
    margin-bottom: 200px;
}

.landing .contact-photo .social-icons {
    margin-bottom: 64px;
}

.landing .contact-photo .social-icons li {
    margin-right: 40px;
}

.landing .contact-photo .social-icons li a {
    font-size: 40px;
    color: #fff;
    opacity: 0.7;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing .contact-photo .social-icons li a:hover {
    opacity: 1;
}

.landing .contact-photo .sub a {
    color: #fff;
}

.landing .photo-form-wrapper {
    margin-bottom: 200px;
}

.landing .photo-form-wrapper input {
    background: none;
    border: none;
    box-shadow: none;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 50px;
    padding: 14px 24px 14px 24px;
    width: 100%;
    margin-bottom: 30px;
}

.landing .photo-form-wrapper .btn-filled {
    background-color: #006779;
    border-color: #006779;
}

.landing .photo-form-wrapper input:focus {
    outline: none;
}

.landing .photo-form-wrapper input[type="submit"] {
    color: #fff !important;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.landing .photo-form-wrapper .form-loading {
    border: 3px solid rgba(255, 255, 255, 0.85);
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    margin: 0px auto;
    top: 50%;
    width: 30px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

.landing .map {
    padding: 0px;
    overflow: hidden;
    position: relative;
}

.landing .map-holder {
    height: 450px;
}

.landing .map-holder iframe {
    border: none;
    width: 100%;
    height: 450px;
}

.landing .map-holder:before {
    content: '';
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.landing .map-holder.on:before {
    width: 0%;
}

.landing .map-overlay {
    padding: 160px 0px;
    position: relative;
    overflow: hidden;
}

.landing .map-overlay:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    content: '';
    opacity: 0.9;
    z-index: 2;
    background-color: #e74c3c;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.landing .map-overlay .map-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0px;
}

.landing .map-overlay .map-holder iframe {
    width: 100%;
    height: 150%;
    position: absolute;
    bottom: -80px;
}

.landing .map-overlay .container {
    position: relative;
    z-index: 2;
}

.landing .details-holder {
    background: #fff;
    width: 100%;
    border-radius: 50%;
}

.landing .details-holder img {
    max-width: 145px;
    display: inline-block;
    margin-bottom: 16px;
}

.landing .fade-overlay:before {
    opacity: 0;
}

.landing .pure-text-contact i {
    display: inline-block;
    color: #e74c3c;
    text-align: center;
    font-size: 64px;
    margin-bottom: 24px;
    margin-bottom: 0px;
    margin-right: 48px;
}

.landing .pure-text-contact i:last-child {
    margin-right: 0px;
}

.landing .icon-jumbo {
    display: inline-block;
    color: #e74c3c;
    text-align: center;
    font-size: 64px;
    margin-bottom: 24px;
}

.landing .social-bar {
    overflow: hidden;
}

.landing .social-bar .link {
    height: 104px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.landing .social-bar .link i {
    color: #fff;
    font-size: 40px;
}

.landing .social-bar .initial,
.landing .social-bar .hover-state {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    position: absolute;
    width: 100%;
    top: 35px;
}

.landing .social-bar .hover-state {
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
    top: 42px;
}

.landing .social-bar span {
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

.landing .social-bar .link:hover .initial {
    -webkit-transform: translate3d(0, -200px, 0);
    -moz-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
}

.landing .social-bar .link:hover .hover-state {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
}

.landing .error-page.bg-primary h1 {
    color: #fff;
    margin-bottom: 32px;
}

.landing .error-page .jumbo {
    font-size: 160px;
    line-height: 160px;
    font-weight: 600;
    margin-bottom: 16px !important;
}

.landing error-page i {
    display: inline-block;
    font-size: 80px;
    margin-bottom: 24px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-animation: spin 6s ease-in-out infinite alternate;
    -moz-animation: spin 6s ease-in-out infinite alternate;
    -o-animation: spin 6s ease-in-out infinite alternate;
    animation: spin 6s ease-in-out infinite alternate;
}

.landing .error-page .btn-text-only:hover {
    color: #333333;
}

.landing .login-page {
    overflow: hidden;
    position: relative;
}

.landing .login-page .container {
    position: relative;
    z-index: 3;
}

.landing .login-page .photo-form-wrapper {
    margin-bottom: 24px;
}

.landing .login-page a.text-white:hover {
    color: #fff;
    font-weight: 600;
}

.landing .spin-me {
    -webkit-animation: spin 6s ease-in-out infinite alternate;
    -moz-animation: spin 6s ease-in-out infinite alternate;
    -o-animation: spin 6s ease-in-out infinite alternate;
    animation: spin 6s ease-in-out infinite alternate;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(-15deg);
    }
    10% {
        -webkit-transform: rotate(-85deg);
    }
    30% {
        -webkit-transform: rotate(5deg);
    }
    50% {
        -webkit-transform: rotate(250deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(-15deg);
    }
    10% {
        -moz-transform: rotate(-85deg);
    }
    30% {
        -moz-transform: rotate(5deg);
    }
    50% {
        -moz-transform: rotate(250deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(-15deg);
    }
    10% {
        -o-transform: rotate(-85deg);
    }
    30% {
        -o-transform: rotate(5deg);
    }
    50% {
        -o-transform: rotate(250deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(-15deg);
    }
    10% {
        transform: rotate(-85deg);
    }
    30% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(250deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.landing .coming-soon {
    position: relative;
    overflow: hidden;
}

.landing .coming-soon h1 {
    font-size: 40px;
    font-weight: 600;
}

.landing .coming-soon .logo {
    display: inline-block;
    margin-bottom: 32px;
    width: 200px;
}

.landing .coming-soon .overlay:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    content: '';
    opacity: 0.3;
    z-index: 2;
    background-color: #333333;
}

.landing .coming-soon .photo-form-wrapper {
    margin-bottom: 32px;
    margin-top: 48px;
}

.landing .countdown-row {
    color: #fff;
    font-size: 80px;
    font-weight: 300;
}

.landing .countdown-section {
    width: 20%;
    display: inline-block;
}

.landing .countdown-amount {
    display: inline-block;
    margin-bottom: 48px;
}

.landing .countdown-period {
    display: block;
    font-size: 24px;
}

.landing iframe.mail-list-form {
    display: none !important;
}

.landing footer {
    padding-top: 80px;
    padding-bottom: 80px;
}

.landing footer.social h1 {
    margin-bottom: 24px;
}

.landing footer.social a.text-white {
    font-size: 18px;
}

.landing footer.social .social-icons {
    margin: 64px 0px;
}

.landing footer.social .social-icons li {
    margin-right: 40px;
}

.landing footer.social .social-icons li a {
    font-size: 40px;
    color: #fff;
    opacity: 0.2;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing footer.social .social-icons li a:hover {
    opacity: 1;
}

.landing footer.social .sub {
    opacity: 0.5;
    color: #fff;
    font-size: 12px;
}

.landing footer.social .sub a {
    color: #fff;
    font-weight: 600;
}

.landing footer.details {
    background: #f4f4f4;
}

.landing footer.details .logo {
    margin-bottom: 54px;
    max-width: 80px;
    margin-top: 12px;
}

.landing footer.details .sub {
    font-size: 12px;
    display: inline-block;
    margin-top: 48px;
}

.landing footer.details .sub a {
    color: #333333;
    font-weight: 600;
}

.landing footer.details h1 {
    font-size: 16px;
    font-weight: 600;
}

.landing footer.short {
    font-size: 16px;
    color: #fff;
}

.landing footer.short .sub {
    opacity: 0.5;
    display: inline-block;
    margin-right: 32px;
    position: relative;
    bottom: 4px;
}

.landing footer.short ul {
    display: inline-block;
    margin: 0px;
    line-height: 24px;
}

.landing footer.short ul li {
    float: left;
    margin-right: 32px;
}

.landing footer.short ul li a {
    color: #fff;
    opacity: 0.8;
}

.landing footer.short .social-icons li a {
    color: #fff;
    opacity: 1;
}

.landing footer.short-2 {
    position: relative;
    overflow: hidden;
}

.landing footer.short-2 span {
    display: inline-block;
    margin-right: 64px;
}

.landing footer.short-2 span:last-child {
    margin-right: 0px;
}

.landing footer.short-2 .contact-action {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 25%;
    background: #bf2718;
    z-index: 3;
    top: 0;
    text-align: center;
    font-size: 18px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing footer.short-2 .contact-action .icon_mail {
    display: inline-block;
    margin-right: 6px;
}

.landing footer.short-2 .contact-action .arrow_right {
    position: relative;
    top: 2px;
}

.landing footer.short-2 .contact-action:hover {
    background: #ad2315;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .landing .top-bar {
        position: absolute;
    }

    .landing .utility-menu {
        display: none;
    }

    .landing nav {
        max-height: 80px;
        overflow: hidden;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease;
    }

    .landing nav .logo {
        margin-bottom: 32px;
    }

    .landing nav .columns {
        width: 100%;
    }

    .landing nav .social-icons {
        display: none;
    }

    .landing .open-nav {
        max-height: 8000px;
    }

    .landing .nav-menu {
        padding-top: 24px;
    }

    .landing .top-bar .logo {
        bottom: 0px;
    }

    .landing .top-bar .logo.logo-wide {
        bottom: 3px;
        margin-bottom: 22px;
    }

    .landing .mobile-toggle {
        font-size: 32px;
        display: block;
        position: absolute;
        top: 24px;
        right: 16px;
        cursor: pointer;
        color: #333333;
    }

    .landing .overlay-bar {
        background: rgba(255, 255, 255, 0.9);
    }

    .landing .overlay-bar .logo-light {
        display: none;
    }

    .landing .overlay-bar .logo-dark {
        display: block;
    }

    .landing .top-bar .menu li a {
        color: #777777;
        padding-bottom: 0px;
    }

    .landing .overlay-bar .menu li a:hover {
        color: #333333;
    }

    .landing .overlay-bar .has-dropdown:after {
        color: #333333;
    }

    .landing .has-dropdown {
        bottom: 0px;
    }

    .landing .menu {
        top: 0px;
    }

    .landing .menu li {
        float: none;
        margin-bottom: 16px;
        margin-right: 0px;
    }

    .landing .subnav {
        position: relative;
        background: none;
    }

    .landing .subnav li {
        margin-bottom: 0px;
    }

    .landing .subnav .col-md-3 {
        margin-bottom: 32px;
    }

    .landing .offscreen-container .social-links {
        display: none;
    }

    .landing .offscreen-container .logo {
        display: none;
    }

    .landing section,
    .landing header {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .landing .no-align-mobile {
        padding-top: 0px !important;
        margin-top: 24px;
    }

    .landing h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .landing p.lead {
        font-size: 14px;
        line-height: 24px;
    }

    .landing .hero-slider .slides li h1,
    .landing header.title h1,
    .landing .action-banner h1,
    .landing header.signup h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .landing .action-banner h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .landing .btn {
        margin-top: 16px;
    }

    .landing header.signup {
        height: auto;
    }

    .landing .header-icons {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .landing header.title {
        padding: 0px;
        height: 400px;
    }

    .landing .product-right {
        height: 632px;
        padding-top: 64px;
    }

    .landing .product-right .align-vertical {
        padding-top: 0px !important;
    }

    .landing .product-right .product-image {
        /* margin-top: 200px; */
        right: 0px;
        bottom: 0px;
        max-width: 90%;
    }

    .landing .page-header br {
        display: none;
    }

    .landing .page-header h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .landing header.centered-text h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .landing .flex-direction-nav {
        display: none;
    }

    .landing .header-icons h2 {
        margin-bottom: 32px;
    }

    .landing .bottom-band {
        display: none;
    }

    .landing .side-image .content {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .landing .selector-tabs {
        text-align: center;
    }

    .landing .selector-tabs li {
        margin-bottom: 16px;
        display: inline-block;
        width: 100%;
    }

    .landing .feature-box {
        padding: 48px 32px;
    }

    .landing .feature-box .inner {
        width: 100%;
    }

    .landing .no-pad-left {
        padding-left: 15px;
    }

    .landing .row-wrapper {
        border-bottom: none;
    }

    .landing .row-wrapper .col-sm-3 {
        border-right: none;
    }

    .landing .accordion {
        margin-top: 32px;
    }

    .landing .strip {
        padding: 40px 0px;
    }

    .landing .strip,
    .landing .strip .text-right {
        text-align: center;
    }

    .landing .strip .col-xs-12 {
        margin-bottom: 16px;
    }

    .landing .inline-video-wrapper {
        margin-top: 40px;
    }

    .landing .video-wrapper {
        display: none;
    }

    .landing .inline-image-right img {
        display: inline-block;
        margin-top: 40px;
    }

    .landing .pricing-tables .no-pad {
        padding: 0px 15px;
    }

    .landing .pricing-tables .no-pad-left {
        padding-left: 15px;
    }

    .landing .pricing-tables .no-pad-right {
        padding-right: 15px;
    }

    .landing .pricing-table {
        margin-bottom: 16px;
        border-radius: 25px !important;
        border: 2px solid rgba(255, 255, 255, 0.2) !important;
    }

    .landing .pricing-2 .hidden-sm:first-child {
        display: none;
    }

    .landing .pricing-2 .pricing-table.emphasis .features li {
        border-radius: 25px;
    }

    .landing .pricing-2 .pricing-table .features li:first-child {
        font-size: 24px;
    }

    .landing footer.social .social-icons li,
    .landing .contact-photo .social-icons li {
        margin-right: 8px;
    }

    .landing footer.social .social-icons li a,
    .landing .contact-photo .social-icons li a {
        font-size: 24px;
    }

    .landing footer.details .col-sm-4 {
        margin-bottom: 16px;
    }

    .landing footer.details h1,
    .landing footer.details .logo {
        margin-bottom: 32px;
    }

    .landing footer.short-2 {
        padding-bottom: 0px;
    }

    .landing footer.short-2 span {
        margin-right: 16px;
    }

    .landing footer.short-2 .contact-action {
        position: relative;
        width: 100%;
        height: 150px;
        margin-top: 80px;
    }

    .landing footer.short-2 .align-vertical {
        padding-top: 64px !important;
    }

    .landing .blog-snippet-2 li .icon {
        width: 20%;
    }

    .landing .blog-snippet-2 li .title {
        width: 80%;
    }

    .landing .contact-thirds .text-center {
        text-align: left;
    }

    .landing .contact-thirds .col-sm-4 {
        margin-bottom: 24px;
    }

    .landing .pure-text-contact br {
        display: none;
    }

    .landing .pure-text-contact i {
        font-size: 48px;
    }

    .landing .filters {
        padding: 0px 15px;
        text-align: center;
    }

    .landing .filters li {
        margin: 0;
        width: 100%;
        margin-bottom: 8px;
    }

    .landing .project {
        width: 100%;
    }

    .landing .image-gallery .image-holder {
        height: 225px;
    }

    .landing .hero-divider {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .landing .hero-divider .video-wrapper {
        display: none;
    }

    .landing .hero-divider .btn {
        margin-right: 0px;
    }

    .landing .fullscreen-element {
        height: auto !important;
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .landing .instafeed ul li:nth-child(n+5) {
        display: none;
    }

    .landing .instafeed ul li {
        width: 25%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .landing .flex-direction-nav {
        display: none;
    }

    .landing .product-right .product-image {
        max-width: 640px;
        right: -100px;
        bottom: 50px;
    }

    .landing .feature-box .inner {
        width: 100%;
    }

    .landing .blog-snippet-2 li .icon {
        width: 15%;
    }

    .landing .blog-snippet-2 li .title {
        width: 85%;
    }

    .landing .map-overlay .col-md-4 {
        width: 40%;
    }

    .landing .map-overlay .col-md-offset-4 {
        margin-left: 30%;
    }

    .landing .hero-divider {
        height: auto;
        padding: 80px 0px 90px 0px;
    }

    .landing .hero-divider .video-wrapper {
        display: none;
    }

    .landing .video-wrapper {
        display: none;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .landing .top-bar {
        position: absolute;
    }

    .landing .utility-menu {
        display: none;
    }

    .landing nav {
        max-height: 80px;
        overflow: hidden;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease;
    }

    .landing nav .logo {
        margin-bottom: 32px;
    }

    .landing nav .columns {
        width: 100%;
    }

    .landing nav .social-icons {
        display: none;
    }

    .landing .open-nav {
        max-height: 8000px;
    }

    .landing .nav-menu {
        padding-top: 24px;
    }

    .landing .top-bar .logo {
        bottom: 0px;
    }

    .landing .top-bar .logo.logo-wide {
        bottom: 10px;
        margin-bottom: 22px;
    }

    .landing .mobile-toggle {
        font-size: 32px;
        display: block;
        position: absolute;
        top: 24px;
        right: 16px;
        cursor: pointer;
        color: #333333;
    }

    .landing .overlay-bar {
        background: rgba(255, 255, 255, 0.9);
    }

    .landing .overlay-bar .logo-light {
        display: none;
    }

    .landing .overlay-bar .logo-dark {
        display: block;
    }

    .landing .overlay-bar .menu li a {
        color: #777777;
        padding-bottom: 0px;
    }

    .landing .overlay-bar .menu li a:hover {
        color: #333333;
    }

    .landing .overlay-bar .has-dropdown:after {
        color: #333333;
    }

    .landing .has-dropdown {
        bottom: 0px;
    }

    .landing .menu {
        top: 0px;
    }

    .landing .menu li {
        float: none;
        margin-bottom: 16px;
        margin-right: 0px;
    }

    .landing .subnav {
        position: relative;
        background: none;
    }

    .landing .subnav li {
        margin-bottom: 0px;
    }

    .landing .subnav .col-md-3 {
        margin-bottom: 32px;
    }

    .landing .flex-direction-nav {
        display: none;
    }

    .landing header.signup .photo-form-wrapper {
        margin-bottom: 32px;
    }

    .landing .product-right .btn {
        margin-bottom: 16px;
    }

    .landing .product-right .product-image {
        right: -320px;
        bottom: 60px;
        max-width: 670px;
    }

    .landing .wood-divider.product-right .product-image {
        position: relative;
        top: -5%;
    }

    .landing .selector-tabs li {
        margin-bottom: 16px;
    }

    .landing .client-row img {
        max-width: 100px;
    }

    .landing .inline-video-wrapper {
        margin-top: 32px;
    }

    .landing .pricing-tables .no-pad {
        padding: 0px 15px;
    }

    .landing .pricing-tables .no-pad-left {
        padding-left: 15px;
    }

    .landing .pricing-tables .no-pad-right {
        padding-right: 15px;
    }

    .landing .pricing-table {
        margin-bottom: 30px;
        border-radius: 25px !important;
        border: 2px solid rgba(255, 255, 255, 0.2) !important;
    }

    .landing .hidden-sm {
        display: block !important;
    }

    .landing .hidden-sm:first-child {
        display: none !important;
    }

    .landing footer.details .social-icons li {
        margin-bottom: 16px;
    }

    .landing .blog-snippet-2 li .icon {
        width: 15%;
    }

    .landing .blog-snippet-2 li .title {
        width: 85%;
    }

    .landing .hero-divider {
        height: auto;
        padding: 80px 0px 90px 0px;
    }

    .landing .hero-divider .video-wrapper {
        display: none;
    }

    .landing .video-wrapper {
        display: none;
    }

    .landing .instafeed ul li:nth-child(n+5) {
        display: none;
    }

    .landing .instafeed ul li {
        width: 25%;
    }

    .landing .project.col-sm-4 {
        width: 50%;
    }

    .landing #submission-strip {
        min-width: 300px;
        max-width: 300px;
    }

    .landing footer.short-2 {
        padding-bottom: 0px;
    }

    .landing footer.short-2 span {
        margin-right: 32px;
    }

    .landing footer.short-2 .contact-action {
        position: relative;
        width: 100%;
        height: 150px;
        margin-top: 80px;
    }

    .landing footer.short-2 .align-vertical {
        padding-top: 64px !important;
    }
}

.landing .resume-header {
    padding: 200px 0px;
}

.landing .resume-header span {
    font-weight: 600;
    color: #fff;
    display: block;
    font-size: 18px;
    margin-bottom: 32px;
}

.landing .resume-header h1 {
    margin-bottom: 8px !important;
}

.landing .resume-header .social-icons li {
    margin-right: 16px;
}

.landing .resume-header .social-icons li a {
    color: #fff;
}

.landing .milestones span {
    font-size: 16px;
    display: inline-block;
    width: 100%;
}

.landing .milestones .sub {
    font-size: 14px;
    font-style: italic;
}

.landing .milestones .pin-body {
    width: 2px;
    height: 30px;
    margin: 0px auto;
    background-color: #e74c3c;
}

.landing .milestones .pin-head {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #e74c3c;
    margin: 0px auto;
    margin-bottom: 24px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing .milestones .feature-icon-large i {
    margin: 0px auto;
    margin-bottom: 0px;
}

.landing .milestones h5 {
    margin-bottom: 8px;
}

.landing .milestones .lead:last-child,
.landing .skill-bars .lead:last-child {
    margin-bottom: 64px !important;
}

.landing .milestones .feature:hover .pin-head {
    background-color: #e74c3c;
}

.landing .expanding-list {
    position: relative;
    overflow: hidden;
}

.landing .expanding-ul {
    position: relative;
    overflow: hidden;
}

.landing .expanding-ul li {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 24px;
    margin-bottom: 24px;
    cursor: pointer;
}

.landing .expanding-ul li .title {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing .expanding-ul .title i {
    color: #e74c3c;
    font-size: 32px;
    display: inline-block;
    margin-right: 24px;
}

.landing .expanding-ul .title span {
    position: relative;
    bottom: 8px;
}

.landing .expanding-ul .title strong {
    font-weight: 600;
    color: #333333;
}

.landing .expanding-ul .text-content {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    max-height: 0px;
}

.landing .expanding-ul li.active .title {
    margin-bottom: 24px;
}

.landing .expanding-ul li.active .text-content {
    max-height: 800px;
    opacity: 1;
}

.landing .expanding-ul li:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}

.landing .skill-bars h3 {
    font-weight: normal;
    margin-bottom: 16px;
}

.landing .skills-ul {
    overflow: hidden;
}

.landing .skills-ul span {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
}

.landing .skills-ul li {
    margin-bottom: 16px;
}

.landing .skills-ul li:last-child {
    margin-bottom: 0px;
}

.landing .skill-bar-holder {
    height: 12px;
    width: 100%;
    background: rgba(231, 76, 60, 0.1);
    padding: 0px;
    position: relative;
}

.landing .skill-capacity {
    height: 12px;
    background: #e74c3c;
    padding: 0px !important;
    left: 0px;
    position: absolute;
}

.landing .skills-left {
    text-align: right;
}

.landing .skills-left .skill-bar-holder {
    background: rgba(44, 62, 80, 0.1);
}

.landing .skills-left .skill-capacity {
    background: #2c3e50;
    left: auto;
    right: 0px;
}

@media screen and (max-width: 990px) {
    .landing .skills-left {
        margin-bottom: 32px;
        text-align: left;
    }

    .landing .skills-left .skill-capacity {
        right: auto;
        left: 3px;
    }
}

.landing .stat-counters h1 {
    color: #fff;
}

.landing .stat {
    text-align: center;
}

.landing .stat-bubble {
    margin: 0px auto;
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
    line-height: 116px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 12px;
}

.landing .stat h3 {
    color: #fff;
}

.landing .blog-image-snippet {
    padding: 160px 0px;
}

.landing .blog-image-snippet .container {
    position: relative;
    z-index: 2;
}

.landing .blog-image-snippet span {
    display: block;
}

.landing .blog-image-snippet span i {
    display: inline-block;
    margin-right: 6px;
}

.landing .blog-image-snippet h1 {
    font-size: 40px;
    margin-bottom: 16px;
}

.landing .blog-image-snippet:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    content: '';
    opacity: 0.4;
    z-index: 2;
    background-color: #333333;
}

.landing .sidebar-widget h5 {
    margin-bottom: 16px;
}

.landing .sidebar-widget li {
    padding: 16px 0px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing .sidebar-widget li .arrow_right {
    position: absolute;
    right: 0px;
}

.landing .sidebar-widget li:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.landing .sidebar-widget li a {
    color: #777777;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing .sidebar-widget li a:hover {
    color: #333333;
}

.landing .sidebar-widget {
    margin-bottom: 40px;
}

.landing .sidebar-widget .tags {
    overflow: hidden;
}

.landing .sidebar-widget .tags li {
    display: inline-block;
    float: left;
    margin: 0px 8px 8px 0px;
    width: auto;
    padding: 0px;
    border: none;
}

.landing .sidebar-widget .tags li a {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 6px;
    display: inline-block;
}

.landing .sidebar-widget .tags li:hover {
    background: #f7f7f7;
}

.landing .sidebar-widget .instafeed {
    padding: 0px;
    border: none;
}

.landing .sidebar-widget .instafeed li:nth-child(n+7) {
    display: none;
}

.landing .sidebar-widget .instafeed li {
    width: 33.33333%;
    padding: 0px;
}

.landing .sidebar-widget .tweet {
    font-size: 16px !important;
    line-height: 32px !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.landing .sidebar-widget .tweet a {
    font-weight: 600 !important;
    color: #333333 !important;
}

.landing .sidebar-widget .social_twitter {
    font-size: 16px;
    color: #333333;
}

.landing .sidebar-widget #tweets li {
    border: none;
}

@media screen and (max-width: 767px) {
    .landing .blog-sidebar {
        display: none;
    }
}

.landing .blog-masonry-item {
    margin-bottom: 30px;
}

.landing .blog-masonry-item .post-title {
    background: #fff;
    padding: 28px 32px 32px 32px;
    position: relative;
}

.landing .blog-masonry-item h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
}

.landing .blog-masonry-item p {
    margin-bottom: 32px;
}

.landing .blog-masonry-item span {
    display: block;
    color: #333333;
    line-height: 18px;
}

.landing .blog-masonry-item .link-text {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

.landing .blog-masonry-item h1 {
    font-weight: 600;
    margin-bottom: 48px;
    line-height: 40px;
}

.landing .blog-masonry-item iframe {
    width: 100%;
}

.landing .quote-post .post-title,
.landing .quote-post h1,
.landing .quote-post span,
.landing .quote-post .link-text {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing .quote-post:hover .post-title {
    background: #e74c3c;
}

.landing .quote-post:hover h1 {
    color: #fff;
}

.landing .quote-post:hover span {
    color: #fff;
}

.landing .quote-post:hover .link-text {
    color: #fff;
    border-color: #fff;
}

.landing .video-post iframe {
    height: 250px;
}

.landing .blog-filters {
    padding: 0px;
    list-style: none;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 32px;
}

.landing .blog-filters li {
    float: left;
    margin-right: 16px;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3498db;
    cursor: pointer;
}

.landing .blog-filters li:last-child {
    margin-right: 0px;
}

.landing .blog-filters li.active {
    border-bottom: 2px solid #3498db;
}

.landing .article-body .media-holder {
    margin: 32px 0px;
    position: relative;
    z-index: 1;
}

.landing .article-body iframe {
    width: 100%;
    height: 440px;
}

.landing .media-holder:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0px;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .landing .article-body iframe {
        height: 215px;
    }
}

@media screen and (max-width: 990px) {
    .landing .media-holder {
        margin-top: 32px;
    }
}

.landing .comment-list {
    margin-top: 32px;
}

.landing .comment-list h5 {
    margin-bottom: 32px;
}

.landing .comment-list ol {
    padding: 0px;
    margin-bottom: 48px;
}

.landing .comment-list li {
    margin-bottom: 32px;
}

.landing .comment-list li:last-child {
    margin-bottom: 0px;
}

.landing .comment-list .children {
    padding-left: 50px;
    margin-bottom: 32px;
}

.landing .blog-comment {
    overflow: hidden;
}

.landing .blog-comment .user {
    width: 100px;
    float: left;
}

.landing .blog-comment .user img {
    max-width: 100%;
}

.landing .blog-comment .info {
    margin-bottom: 16px;
}

.landing .blog-comment .link-text {
    display: inline-block;
    margin-left: 12px;
}

.landing .blog-comment .message {
    width: auto;
    background: #fff;
    margin-left: 115px;
    padding: 24px;
}

.landing .blog-comment .message h6 {
    margin-bottom: 0px;
}

.landing .comment-respond {
    margin-top: 32px;
}

.landing .comment-form .form-input {
    margin-bottom: 16px;
}

.landing .comment-form .form-input:last-child {
    margin-bottom: 0px;
}

.landing .comment-form input[type="text"],
.landing .comment-form textarea {
    width: 100%;
    padding: 16px;
    border: none;
    box-shadow: none;
}

.landing .comment-form input[type="submit"] {
    min-width: 185px;
}

@media screen and (max-width: 767px) {
    .landing .blog-comment .user {
        display: none;
    }

    .landing .blog-comment .message {
        margin-left: 0px;
    }
}

.landing .simple-bar .logo {
    max-width: 800px;
    max-height: 40px;
    bottom: 12px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing .simple-bar .social-icons {
    margin-left: 32px;
}

.landing .simple-bar .nav-menu {
    padding-top: 54px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing .simple-bar .menu li {
    margin-right: 40px;
}

.landing .simple-bar .menu li a {
    padding-bottom: 54px;
}

.landing .simple-bar.nav-sticky .logo {
    max-height: 30px;
    bottom: 8px;
}

.landing .simple-bar .subnav {
    text-align: left !important;
}

.landing .subnav-halfwidth {
    width: 500px;
}

.landing .menu li:last-child .subnav-halfwidth {
    right: 0px;
}

@media all and (max-width: 767px) {
    .landing .simple-bar .logo {
        max-height: 30px;
        bottom: 30px;
    }

    .landing .simple-bar .menu li a {
        padding-bottom: 0px;
    }

    .landing .simple-bar .text-right {
        text-align: left !important;
    }

    .landing .subnav-halfwidth .subnav {
        margin-bottom: 32px;
    }

    .landing .subnav-halfwidth {
        width: 100%;
    }

    .landing .subnav-fullwidth {
        width: 100% !important;
        left: 0 !important;
    }
}

.landing .subnav-halfwidth .subnav {
    position: relative;
    overflow: hidden;
    background: none !important;
    text-align: left;
    padding: 0px;
}

.landing .centered-logo .social-icons {
    float: right;
    margin-bottom: 0px;
}

.landing .centered-logo .utility-menu span {
    top: 2px;
}

.landing .centered-logo .logo {
    max-width: 800px;
    max-height: 50px;
    bottom: 0px;
    margin-top: 32px;
}

.landing .centered-logo .menu li a {
    padding-bottom: 24px;
}

.landing .centered-logo .nav-menu {
    padding-top: 32px;
}

.landing .centered-logo .subnav {
    text-align: left !important;
}

.landing .centered-logo .bottom-border {
    width: 100%;
    height: 4px;
    background: #e74c3c;
}

@media all and (max-width: 767px) {
    .landing .centered-logo .logo {
        top: 20px;
        max-height: 40px;
        margin-top: 0px;
    }

    .landing .centered-logo .menu li a {
        padding-bottom: 0px;
    }

    .landing .centered-logo .subnav {
        text-align: center !important;
    }
}

.landing .fullscreen-nav-toggle {
    position: fixed;
    z-index: 1000;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    cursor: pointer;
    top: 32px;
    right: 32px;
    font-size: 40px;
    line-height: 67px;
    color: #333333;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing .fullscreen-nav-toggle i {
    position: absolute;
    right: 11px;
    top: 12px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing .fullscreen-nav-toggle .icon_menu {
    opacity: 1;
}

.landing .fullscreen-nav-toggle .icon_close {
    opacity: 0;
}

.landing .toggle-icon .icon_menu {
    opacity: 0 !important;
}

.landing .toggle-icon .icon_close {
    opacity: 1 !important;
    color: #fff !important;
}

.landing .toggle-icon {
    background: rgba(255, 255, 255, 0);
}

.landing .fullscreen-nav-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999;
    background: rgba(231, 76, 60, 0.92);
    display: none;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.landing .show-fullscreen-nav {
    display: block;
}

.landing .fade-fullscreen-nav {
    opacity: 1;
}

.landing .fullscreen-nav-container .logo {
    max-height: 60px;
    display: block;
    margin-bottom: 32px;
}

.landing .fullscreen-nav-container .menu li {
    line-height: 48px;
    float: none;
}

.landing .fullscreen-nav-container .menu li a {
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    padding-bottom: 0px;
}

.landing .fullscreen-nav-container .container {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translate3d(0, 200px, 0);
    -moz-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
    opacity: 0;
    margin-top: 80px;
}

.landing .fullscreen-nav-container.fade-fullscreen-nav .container,
.landing .fullscreen-nav-container.fade-fullscreen-nav .close-fullscreen-nav {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    opacity: 1;
}

.landing .fullscreen-nav {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.landing .fullscreen-nav .outer-logo {
    max-height: 35px;
    margin-top: 44px;
    display: inline-block;
}

@media all and (max-width: 767px) {
    .landing .fullscreen-nav {
        max-height: 7000px;
        background: none;
        height: auto;
        overflow: visible;
    }

    .landing .fullscreen-nav-container .container {
        margin-top: 32px;
    }

    .landing .fullscreen-nav-container .logo {
        max-height: 40px;
        margin-bottom: 16px;
    }

    .landing .fullscreen-nav-container .menu li {
        margin-bottom: 0px;
        line-height: 32px;
    }

    .landing .fullscreen-nav-container .menu li a {
        font-size: 24px;
        padding-bottom: 0px;
    }
}

.landing .soundcloud-1 {
    padding: 0px;
    position: relative;
    overflow: hidden;
    line-height: 0;
}

.landing .soundcloud-1:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.landing .soundcloud-1 iframe {
    border: none;
    height: 200px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.landing .contained-bar {
    background: none;
}

.landing .contained-wrapper {
    background: rgba(255, 255, 255, 0.9);
    margin-top: 32px;
    padding: 0 32px;
}

.landing .contained-bar.nav-sticky {
    background: rgba(255, 255, 255, 0.9);
}

.landing .contained-bar.nav-sticky .contained-wrapper {
    background: none;
    padding: 0;
    margin-top: 0;
}

@media all and (max-width: 768px) {
    .landing .contained-bar {
        background: rgba(255, 255, 255, 0.9);
    }

    .landing .contained-wrapper {
        background: none;
        padding: 0;
        margin-top: 0;
    }
}

.landing .elements h1 {
    margin-bottom: 16px;
}

.landing .pagination li a {
    color: #3498db;
    background: none;
    margin-left: 12px;
    border-radius: 50%;
    padding: 5px 12px;
}

.landing .pagination li.active {
    background: #3498db;
}

.landing .pagination li:first-child a,
.landing .pagination li:last-child a {
    border-radius: 50% !important;
}

.landing .pagination-lg li a {
    padding: 7px 16px;
}

.landing .pagination-sm li a {
    padding: 5px 11px;
}

.landing .pager li a {
    background: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    min-width: 155px;
    border-radius: 25px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #3498db;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3498db;
    min-width: 125px;
}

.landing .pager li a:hover {
    background: #3498db;
    color: #fff;
}

.landing .video-wrapper iframe {
    width: 100%;
    height: 180%;
    top: -40%;
    position: absolute;
}

.landing .youtube-bg {
    height: 100%;
}

@media all and (min-width: 1800px) {
    .landing .video-wrapper iframe {
        height: 200%;
        top: -50%;
    }
}

@media all and (max-width: 1500px) {
    .landing .video-wrapper iframe {
        height: 150%;
        top: -15%;
    }
}

@media all and (max-width: 1300px) {
    .landing .video-wrapper iframe {
        height: 130%;
        top: -5%;
    }
}

@media all and (max-width: 1250px) {
    .landing .video-wrapper iframe {
        height: 120%;
        top: -5%;
    }
}

@media all and (max-width: 1100px) {
    .landing .video-wrapper iframe {
        height: 110%;
        top: -5%;
    }
}

@media all and (max-width: 1024px) {
    .landing .video-wrapper iframe {
        display: none;
    }
}

.landing .fullwidth-video iframe {
    height: 550px;
}

@media all and (max-width: 1200px) {
    .landing .fullwidth-video iframe {
        height: 500px;
    }
}

@media all and (max-width: 1000px) {
    .landing .fullwidth-video iframe {
        height: 400px;
    }
}

@media all and (max-width: 767px) {
    .landing .fullwidth-video iframe {
        height: 270px;
        max-width: 100%;
    }
}

.landing .boxed-layout {
    background: #eee;
}

.landing .boxed-layout .main-container,
.landing .boxed-layout .footer-container,
.landing .boxed-layout nav {
    max-width: 1280px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.landing .boxed-layout .flex-direction-nav {
    display: none;
}

.landing .timeline-event:first-child {
    margin-top: 64px;
}

.landing .timeline-event {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 64px;
    margin-bottom: 32px;
}

.landing .timeline-event:nth-child(even) .col-sm-6:first-child {
    text-align: right;
}

.landing .timeline-event .col-sm-6:first-child {
    padding-right: 54px;
}

.landing .timeline-event .col-sm-6:last-child {
    padding-left: 54px;
}

.landing .timeline-event:nth-child(odd) .col-sm-6:first-child {
    padding-left: 54px;
    padding-right: 15px;
}

.landing .timeline-event:nth-child(odd) .col-sm-6:last-child {
    padding-right: 54px;
    text-align: right;
    padding-left: 15px;
}

.landing .timeline-event .middle {
    position: absolute;
    left: 50%;
    width: 60px;
    margin-left: -30px;
    text-align: center;
    height: 100%;
}

.landing .timeline-event .middle i {
    font-size: 40px;
    display: inline-block;
    margin-bottom: 16px;
    color: #e74c3c;
}

.landing .timeline-event .middle .vertical-line {
    top: 60px;
    width: 2px;
    height: 100%;
    display: inline-block;
    background: #e74c3c;
    position: absolute;
    left: 50%;
    margin-left: -2px;
}

.landing .timeline-event h2 {
    margin-bottom: 8px;
}

@media all and (max-width: 767px) {
    .landing .timeline-event {
        padding-bottom: 0;
    }

    .landing .timeline-event .middle {
        display: none;
    }

    .landing .timeline-event .col-sm-6 {
        padding-left: 15px !important;
        padding-right: 15px !important;
        text-align: left !important;
    }
}

@media all and (max-width: 767px) {
    .landing .bottom-band {
        display: block;
        margin-top: 80px;
    }

    .landing .bottom-band h3 {
        font-size: 18px;
        line-height: 26px;
    }

    .landing .fullscreen-element .align-vertical {
        padding-top: 80px !important;
    }
}

.landing .product-action {
    height: auto;
    padding: 120px 0 0 0;
}


.landing .product-action.red1{
    background: #eb7480;
}

.landing .product-action.red2 {
    background: #e74c3c;
}

.landing .product-action.blue0 {
    background: #0f84d9;
}

.landing .product-action.blue1 {
    background: #056a9a;
}

.landing .product-action.blue2 {
    background: #244cb9;
}

.landing .product-action.grey {
    background: #4e4e59;
}

.landing .product-action.brown {
    background: #b99c7e;
}

.landing .product-action h2 {
    margin-bottom: 16px;
    font-weight: 600;
}

.landing .product-action p {
    display: block;
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.landing .product-action .products span.products-info {
    border-radius: 1px;
    display: inline-block;
    padding: 24px 20px 24px 20px;
    line-height: 2;
    border: 0px solid #3498db;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background-color: rgba(255,255,255,0.1);
    margin: 2px;
}
.landing .product-action img {
    margin-top: -80px;
    position: relative;
    top: 110px;
}

@media all and (max-width: 767px) {
    .landing .product-action p {
        margin-bottom: 32px;
    }

    .landing .product-action img {
        margin-top: 24px;
        top: 24px;
    }
}

.landing .no-loader .loader {
    display: none !important;
}
