@media (max-width: 767px) {
  #minicart-content-wrapper {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    #top-cart-btn-checkout {
      font-size: 10px;
      width: 100%;
      border-style: solid;
      border-top-width: 0;
      border-right-width: 0;
      border-left-width: 0;
      border-bottom-width: 0;
      color: #ffffff;
      border-color: #006779;
      background-color: #006779;
      border-radius: 50px;
      padding-top: 20px;
      padding-right: 30px;
      padding-bottom: 20px;
      padding-left: 30px;
      font-family: inherit;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: 'Poppins', sans-serif;
    }
    #mini-cart{
      .product-item-name{
        font-size: 26px;
      }
      .details-qty{

      }
      input {
        margin-left: 20px;
        background-color: #FAFAFA;
        font-size: 18px;
        color: #AAAAAA;
        border-radius: 2px;
        border: 1px solid #EAEAEA;
        height: 50px;
        font-family: 'Poppins', sans-serif;
      }
    }
  }

}