.old-price {
  .price-label {
    display: none !important;
  }

  .price {
    text-decoration: line-through;
    text-decoration-color: #f44336;
  }
}

.product.actions.product-item-actions {
  //display: none;
}

.product-item-name, .product.name a {
  font-size: 40px;
  font-family: 'Bebas Neue';
}

strong.product.name.product-item-name {
  max-height: 37px;
  min-height: 37px;
  overflow: hidden;
}

div[class^='swatch-opt-'], div[class*='swatch-opt-'] {
  display: none;
}

.products-grid {
  .product-item-info {
    &:hover {
      div[class^='swatch-opt-'] {
        display: block;
      }

      div[class*='swatch-opt-'] {
        display: block;
      }
    }
  }

  .product-item-info.active {
    div[class^='swatch-opt-'] {
      display: block;
    }

    div[class*='swatch-opt-'] {
      display: block;
    }
  }
}

.product-item-details {
  .swatch-attribute {
    .swatch-option {
      margin: 0 7px 5px 0;
    }
  }
}


@media (max-width: 768px) {
  div[class^='swatch-opt-'], div[class*='swatch-opt-'] {
    display: none;
  }

  .column.main .product-item {
    padding-left: initial;
  }

  .product-item:nth-child(2n + 1) {
    margin-left: auto;
  }

  .products-grid .product-item {
    margin-left: auto;
    width: calc((100%) / 1);
  }

  .products-grid {
    .product-item-info {
      width: 100% !important;
    }
  }
}

