
@media (max-width: 767px) {
  #mini-cart {
    .details-qty {
      input {
        background-color: #FAFAFA;
        font-size: 18px;
        color: #AAAAAA;
        border-radius: 2px;
        border: 1px solid #EAEAEA;
        padding: 25px;
        font-family: 'Poppins', sans-serif;
        margin-left: 20px;
      }
    }
  }
  #checkout{
    .authentication-wrapper{
      .action-auth-toggle{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
      }
    }
    .opc-estimated-wrapper {
      .estimated-block {
        font-family: 'Bebas Neue', display;
        font-size: 22px;
        color: @color-headers;
      }
    }
  }
  #shipping{
    .step-title{
      font-family: 'Bebas Neue', display;
      font-size: 22px;
      color: @color-headers;
    }
    .form-login{
      .fieldset{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
      }
      .input-text{
        margin-left: 20px;
        background-color: #FAFAFA;
        font-size: 18px;
        color: #AAAAAA;
        border-radius: 2px;
        border: 1px solid #EAEAEA;
        height: 50px;
        font-family: 'Poppins', sans-serif;
        width: calc(100% - 16px);
      }
    }
  }
  #shipping-new-address-form{
    .label{
      span{
        font-family: 'Bebas Neue', display;
        font-size: 22px;
        color: @color-headers;
      }
    }
    .input-text{
      margin-left: 20px;
      background-color: #FAFAFA;
      font-size: 18px;
      color: #AAAAAA;
      border-radius: 2px;
      border: 1px solid #EAEAEA;
      height: 50px;
      font-family: 'Poppins', sans-serif;
      width: calc(100% - 20px);
    }
    .select {
      background-color: #FAFAFA;
      font-size: 18px;
      color: #AAAAAA;
      border-radius: 2px;
      border: 1px solid #EAEAEA;
      height:50px;
      font-family: 'Poppins', sans-serif;
    }
  }
  #opc-shipping_method{
    .step-title{
      font-family: 'Bebas Neue', display;
      font-size: 22px;
      color: @color-headers;
    }
    #checkout-shipping-method-load{
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
    }
    #shipping-method-buttons-container{
      .primary{
        .button{
          border-style: solid;
          border-top-width: 0;
          border-right-width: 0;
          border-left-width: 0;
          border-bottom-width: 0;
          color: #ffffff;
          border-color: #006779;
          background-color: #006779;
          border-radius: 50px;
          padding-top: 20px;
          padding-right: 30px;
          padding-bottom: 20px;
          padding-left: 30px;
          font-family: inherit;
          font-weight: 600;
          line-height: 1;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-family: 'Poppins', sans-serif;
        }
      }

    }
  }
  #checkout-payment-method-load{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    .step-title{
      font-family: 'Bebas Neue', display;
      font-size: 22px;
      color: @color-headers;
    }
    .billing-address-details{
      button {
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        color: #ffffff;
        border-color: #006779;
        background-color: #006779;
        border-radius: 50px;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        font-family: inherit;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
      }
    }
    .actions-toolbar{
      .checkout{
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        color: #ffffff;
        border-color: #006779;
        background-color: #006779;
        border-radius: 50px;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        font-family: inherit;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
      }
    }
  }
  #discount-coupon-form{
    #coupon_code{
      background-color: #FAFAFA;
      font-size: 18px;
      color: #AAAAAA;
      border-radius: 2px;
      border: 1px solid #EAEAEA;
      padding: 25px;
      font-family: 'Poppins', sans-serif;
    }
    button.apply{
      border-style: solid;
      border-top-width: 0;
      border-right-width: 0;
      border-left-width: 0;
      border-bottom-width: 0;
      color: #ffffff;
      border-color: #006779;
      background-color: #006779;
      border-radius: 50px;
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
      font-family: inherit;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-left:20px;
    }
  }
  .checkout-billing-address{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    .input-text{
      margin-left: 20px;
      background-color: #FAFAFA;
      font-size: 18px;
      color: #AAAAAA;
      border-radius: 2px;
      border: 1px solid #EAEAEA;
      height: 50px;
      font-family: 'Poppins', sans-serif;
      width: calc(100% - 20px);
    }
    .select {
      background-color: #FAFAFA;
      font-size: 18px;
      color: #AAAAAA;
      border-radius: 2px;
      border: 1px solid #EAEAEA;
      height:50px;
      font-family: 'Poppins', sans-serif;
    }
    .actions-toolbar{
      .action-update{
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        color: #ffffff;
        border-color: #006779;
        background-color: #006779;
        border-radius: 50px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-family: inherit;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin:0px;
        width:90%;
      }
    }
  }
  #discount-form{
    input {
      background-color: #FAFAFA;
      font-size: 18px;
      color: #AAAAAA;
      border-radius: 2px;
      border: 1px solid #EAEAEA;
      padding: 25px;
      font-family: 'Poppins', sans-serif;
    }
    .action-apply{
      border-style: solid;
      border-top-width: 0;
      border-right-width: 0;
      border-left-width: 0;
      border-bottom-width: 0;
      color: #ffffff;
      border-color: #006779;
      background-color: #006779;
      border-radius: 50px;
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
      font-family: inherit;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      margin-left:20px;
      margin-top:6px;
    }
  }
  .checkout-payment-method {
    .payment-option-content {
      .form-discount {
        .actions-toolbar {
          display: block;
          width:100%;
          .action-apply{
            width:100%;
            margin: 0px;
          }
        }
      }
    }
    #discount-form {

          display: block;
          width: 100%;
        .primary{
           width: 100%;
        }
          .action-apply {
            width: 100%;
            margin: 0px;
          }

    }
  }

  .checkout-payment-method {
    .payment-option-content {
      .form-discount {
        display: block;
      }
    }
  }
  #block-discount-heading{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }
  #opc-sidebar{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    .title{
      font-family: 'Bebas Neue', display;
      font-size: 22px;
      color: @color-headers;
    }
    .product-item-name{
      font-size: 30px;
    }
  }

  .checkout-onepage-success {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

    #registration{
      .action {
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        color: #ffffff;
        border-color: #006779;
        background-color: #006779;
        border-radius: 50px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-family: inherit;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 100%;
        text-align: center;
      }
    }
    .checkout-success {
      .action {
        border-style: solid;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        color: #ffffff;
        border-color: #006779;
        background-color: #006779;
        border-radius: 50px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        font-family: inherit;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }


}
.mage-error{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.messages{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.field-error{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.copyright{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
