.header.panel {
  color: #fff;

  > .header.links {
    > li {
      > a {
        color: #fff;

        &:visited {
          color: #fff;
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header/bg1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center;
  min-height: 280px;


  .switcher {
    .options {
      ul.dropdown {
        min-width: 225px;
      }
    }
  }

  .panel.wrapper {
    border-bottom: none;
    background-color: transparent;

    .panel {
      background-color: transparent;
      border: none;
      border-radius: 0px;
      -webkit-box-shadow: none;
      box-shadow: none;

    }
  }

}

.cms-index-index {
  .page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header/bg1.jpg');
    background-position: center;
  }
}

.catalog-category-view {
  .page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header/bg1.jpg');
    background-position: center;
  }
}

.cms-page-view {
  .page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header/bg2.jpg');
    background-position: top;
  }
}


.page-footer {
  .switcher {
    .options {
      ul.dropdown {
        min-width: 225px;
      }
    }
  }
}



@media (max-width: 767px) {

  .page-title-wrapper {
    .page-title {
      clear: both;
      margin-top: 80px;
      font-weight: 600;
      color: #fff;
      font-size: 50px;
      text-transform: uppercase;
      font-family: 'Bebas Neue',display !important;
    }
  }
  .header {
    .nav-toggle::before {
      color: #fff;
    }
    .links{
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
    }

    .label {
      &::before {
        color: #fff;
      }
    }

    .minicart-wrapper {
      .action.showcart {
        &::before {
          color: #fff;
        }
      }
    }

    .logo {
      max-width: 100%;
      margin:0 auto;
      img {
        max-width: 90%;
        display: block;
        margin: 0 auto;
        padding-left: 50px;
        padding-bottom:20px;
      }
    }
  }

}
