@media (max-width: 767px) {
  .catalog-product-view {
    .related{
      font-family: 'Poppins', sans-serif;
      text-align: justify;
      font-size: 18px;
      button{
        font-family: 'Poppins', sans-serif;
      }
    }
    #product-updatecart-button{
      border-style: solid;
      border-top-width: 0;
      border-right-width: 0;
      border-left-width: 0;
      border-bottom-width: 0;
      color: #ffffff;
      border-color: #006779;
      background-color: #006779;
      border-radius: 50px;
      padding-top: 20px;
      padding-right: 30px;
      padding-bottom: 20px;
      padding-left: 30px;
      font-family: inherit;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: 'Poppins', sans-serif;
    }
    #product-addtocart-button {
      font-size: 14px;
      border-style: solid;
      border-top-width: 0;
      border-right-width: 0;
      border-left-width: 0;
      border-bottom-width: 0;
      color: #ffffff;
      border-color: #006779;
      background-color: #006779;
      border-radius: 50px;
      padding-top: 20px;
      padding-right: 30px;
      padding-bottom: 20px;
      padding-left: 30px;
      font-family: inherit;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: 'Poppins', sans-serif;
    }


    .related {
      #block-related-heading {

        font-family: 'Bebas Neue', display;
        font-size: 22px;
        color: @color-headers;

      }

      .block-content {
        .block-actions {
          text-align: justify;
          font-size: 14px;
          font-family: 'Poppins', sans-serif;
        }
      }
    }

    .product.data.items {
      > .item.title {
        > .switch {
          font-family: 'Bebas Neue', display;
          font-size: 22px;
          color: @color-headers;
        }
      }
    }

    .product {
      .secondary-addto-links {
        display: none;
      }

      p {
        text-align: justify;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
      }

      h4 {
        font-family: 'Bebas Neue', display;
        font-size: 22px;
        color: @color-headers;
      }

      li {
        text-align: justify;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
      }
    }

    span.price {
      font-family: 'Bebas Neue', display;
      font-size: 22px;
      color: @color-headers;
    }

    #maincontent {
      .price-final_price {
        text-align: center;
        width: 100%;
        padding: 20px;

      }
      .product-reviews-summary{
        font-family: 'Poppins', sans-serif;
      }
    }

    #product_addtocart_form {
      .box-tocart {
        .fieldset {
          .qty {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          input#qty {
            margin-left: 20px;
            background-color: #FAFAFA;
            font-size: 18px;
            color: #AAAAAA;
            border-radius: 2px;
            border: 1px solid #EAEAEA;
            height: 50px;
            font-family: 'Poppins', sans-serif;
          }
        }
      }
    }
  }
}